<% wrap_layout :layout do %>

<div class="masthead" style="background: <%= current_page.data.masthead %>; color: <%= current_page.data.masthead_text %>; ">
  <div class="masthead-content">
    <div class="inner">
      <h6>ESSAYS <span class="amp">&</span> GUIDES</h6>
      <h1><%= current_page.data.title %></h1>
      <h2><%= current_page.data.subtitle %></h2>
    </div>
  </div>
</div>

<section class="essay">
  <div class="inner">
  <article>
    <%= yield %>
  </article>
  </div>
<% end %>
