<% wrap_layout :layout do %>

<div class="masthead" style="background: <%= current_page.data.masthead %>; color: <%= current_page.data.masthead_text %>; ">
  <div class="masthead-content">
    <div class="inner">
      <% if current_page.data.label %>
        <h6 color: <%= current_page.data.masthead_text %>><%= current_page.data.label %> </h6>
      <% end %>
      <h1><%= current_page.data.title %></h1>
      <h2><%= current_page.data.subtitle %></h2>

      <% if current_page.data.download %>
        <div class="download">
        <%= image_tag("images/essays/file-pdf-solid.svg", style: "color: #FFFFFF;") %> <%= link_to('Download the guide', current_page.data.download) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<section class="essay">
  <div class="inner">
  <article>
    <%= yield %>

  <section class="article-lockup">
  <% if current_page.data.label == "Essay" %>
    <p>This essay, written by <%= link_to('Andrea Mignolo', 'about') %>, was first published on
      <%= current_page.data.date %>

      <% if current_page.data.original %> on
        <%= link_to(current_page.data.original, current_page.data.olink) %>.
      <% end %>

      <% if current_page.data.updated %>
        It now lives at <%= link_to('METHOD & MATTER', '/') %> and was last updated on <%= current_page.data.updated %>
      <% end %>
  <% end %>
  </section>

  </article>

  </div>
</section>
<% end %>
