<% wrap_layout :layout do %>

<div class="masthead" style="background: <%= current_page.data.masthead %>; color: <%= current_page.data.masthead_text %>; ">
  <div class="masthead-content">
    <h6>ESSAY</h6>
    <h1><%= current_page.data.title %></h1>
    <h2><%= current_page.data.subtitle %></h2>
  </div>
</div>

<section class="essay">
  <article>
    <%= yield %>
  </article>
<% end %>
