<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= current_page.data.description %>" />
    <meta name="keywords" content="<%= current_page.data.keywords %>" />
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>method & matter | <%= current_page.data.title || "method & matter" %></title>
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:description" content="<%= current_page.data.description %>" />
    <meta property="og:url" content="<%= 'http://methodandmatter.com' + current_page.url %>" />
    <meta property="og:image" content="<%= 'http://methodandmatter.com/' + 'images/og/og-' + current_page.data.title + '.png' %>" />
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6543216/6501012/css/fonts.css" />
    <%= stylesheet_link_tag "mm" %>
    <%= javascript_include_tag "mm" %>
  </head>
  <body class="<%= page_classes %>">
    <header>
      <div class="inner">
        <div class="site-branding">
          <%= link_to('method & matter', '/', :class => 'logo') %>
        </div>
        <nav>
          <ul>
            <li class="coaching"><%= link_to('coaching', 'coaching') %> </li>
            <li class="researcg"><%= link_to('research', 'research') %> </li>
            <li class="resources"><%= link_to('resources', 'resources') %> </li>
            <li class="about"><%= link_to('about', 'about') %> </li>
          </ul>
        </nav
      </div>
    </header>

    <main>
      <div class="separator"></div>
      <%= yield %>
    </main>

    <%= partial "footer" %>
  </body>
</html>
