<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= current_page.data.description %>" />
    <meta name="keywords" content="<%= current_page.data.keywords %>" />

    <!-- Use the title from a page's frontmatter if it has one -->
    <title>method & matter | <%= current_page.data.title %></title>

    <!-- OG tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:description" content="<%= current_page.data.description %>" />
    <meta property="og:url" content="<%= 'https://methodandmatter.com' + current_page.url %>" />
    <meta property="og:image" content="<%= 'https://methodandmatter.com/' + 'images/' + current_page.data.image %>" />

    <!-- Twitter Cards -->
    <meta name="twitter:title" content="<%= current_page.data.title %>" />
    <meta name="twitter:description" content="<%= current_page.data.description %>" />
    <meta name="twitter:image:src" content="<%= 'https://methodandmatter.com/' + 'images/' + current_page.data.image %>" />
    <meta name="twitter:tile:image" content="<%= 'https://methodandmatter.com/' + 'images/' + current_page.data.image %>" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Robots -->
    <% if current_page.data.robots %>
      <meta name="robots" content="noindex">
    <% end %>

    <!-- Verifying I own this site to ahrefs -->
    <meta name="ahrefs-site-verification" content="c4ed300c5a33530c3d297731980591ff77e702e9015c4a634a117ac85caf0a15">

    <!-- Canonical URLs -->
    <link rel="canonical" href="<%= 'https://methodandmatter.com' + current_page.url %>" />

    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6543216/6501012/css/fonts.css" />
    <%= stylesheet_link_tag "mm" %>
    <%= javascript_include_tag "mm" %>
  </head>
  <body class="<%= page_classes %>">
    <%#= partial "announcement" %>
    <header>
      <div class="inner">
        <div class="site-branding">
          <%= link_to('method & matter', '/', :class => 'logo') %>
        </div>
        <nav>
          <ul>
            <li class="coaching"><%= link_to('coaching', 'coaching') %> </li>
            <li class="courses"><%= link_to('courses', 'leader-as-coach') %> </li>
            <li class="research"><%= link_to('research', 'research') %> </li>
            <li class="resources"><%= link_to('resources', 'resources') %> </li>
            <li class="newsletter"><%= link_to('newsletter', 'the-becoming') %> </li>
          </ul>
        </nav>
      </div>
      <hr class="top-nav-hr" />
    </header>

    <%= yield %>

    <%= partial "footer" %>
  </body>
</html>
