<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "method + matter" %></title>
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6543216/6501012/css/fonts.css" />
    <%= stylesheet_link_tag "mm" %>
    <%= javascript_include_tag "mm" %>
  </head>
  <body class="<%= page_classes %>">
    <nav>
      <div class="container large">
        <div class="site-branding">
          <%= link_to('methodandmatter.com', '/', :class => 'logo') %>
        </div>
        <ul>
          <li class="coaching"><%= link_to('coaching', 'coaching') %> </li>
          <li class="workshops"><%= link_to('workshops', 'workshops') %> </li>
          <li class="about"><%= link_to('about', 'about') %> </li>
        </ul>
      </div>
    </nav>

  <%= yield %>

</body>
</html>
