
<% wrap_layout :layout do %>

<main>
  <section class="content short">
    <div class="col-1 notes">
      <span>This is a <%= link_to('Words Make Worlds', 'words-make-worlds', :class => "wmw") %> note.</span>
      <h1><%= current_page.data.title %></h1>
      <span class="date"><%= current_page.data.date %></span>

      <article>
        <%= yield %>
      </article>

      <hr />

      <div class="mini-bio">
        <%= image_tag("amignolo-profile-web-square.jpg", alt: "Andrea Mignolo, Professional Certified Coach") %>
        <p><%= link_to('Andrea Mignolo', 'about') %> is an executive coach based in San Francisco. She's a Professional Certified Coach with the International Coaching Federation and holds an MBA from Weatherhead School of Management with a focus on leadership and organizational design.</p>
      </div>

      <hr />
    </div>

  </section>
</main>
<% end %>
