
<% wrap_layout :layout do %>

<main>
  <section class="content">
    <div class="col-1 notes">
      <h4 class="lockup">
        <%= link_to('Words Make Worlds', 'words-make-worlds') %><br />
        Issue <%= current_page.data.issue %> <br />
        <%= current_page.data.date %>
      </h4>

      <h1><%= current_page.data.title %></h1>

      <article>
        <%= yield %>
      </article>

      <hr />

      <div class="mini-bio">
        <%= image_tag("amignolo-profile-web-square.jpg") %>
        <p><%= link_to('Andrea Mignolo', 'about') %> is an executive coach based in San Francisco. She’s a Professional Certified Coach with the International Coaching Federation and holds an MBA from Weatherhead School of Management with a focus on leadership and organizational design.</p>
      </div>

      <hr />

      <div class="mini">
        <h3>Sign-up to receive Words Make Worlds in your inbox.</h3>
        <p class="data-policy">Your privacy is <em>very</em> important to me. I will not sell or share your email address, nor include tracking pixels in any emails I send to your inbox. You can unsubscribe instantly at any time.</p>
        <%= partial "wmw_form" %>
      </div>
    </div>

  </section>
</main>
<% end %>
