
<% wrap_layout :layout do %>

<main>
  <section class="content">
    <div class="col-1 notes">
      <h4>
        <%= link_to('Words Make Worlds', 'words-make-worlds') %><br />
        Issue <%= current_page.data.issue %> <br />
        <%= current_page.data.date %>
      </h4>

      <h1><%= current_page.data.title %></h1>

      <%= yield %>

      <hr />

      <div class="mini">
        <h3>Sign-up to receive Words Make Worlds in your inbox.</h3>
        <%= partial "wmw_form" %>
      </div>
    </div>

  </section>
</main>
<% end %>
