---
title: Leader as Coach Course Material
description: Course materials for Leader as Coach
keywords:
image: "og/mm-og-1.jpg"
robots: true
---

<section class="hero">
  <div class="text">
    <h1>Leader as Coach</h1>
    <p>Handbook: <%= link_to('The Leader\'s Little Book of Coaching', 'https://docs.google.com/document/d/1vmsmqXJX9gGTMZiMJaKIsFAFnwacgFxPIkIGm8gNrVw/edit?usp=sharing') %>
    </p>
  </div>
</section>

<hr />


<section class="content">
  <div class="col-1">
    <h1>Welcome</h1>
    <p>A little bit of the 'why' behind this course.</p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/cc06451e-0ee9-449e-9320-1458b33cf7f4?watermark=0&color=&sharing=0&title=1" frameborder="0" class="video" title="Welcome to Leader as Coach!" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>What is coaching?</h1>
    <p>For further reading, see <%= link_to('"Coaching Conversations are Learning Conversations"', 'https://docs.google.com/document/d/1vmsmqXJX9gGTMZiMJaKIsFAFnwacgFxPIkIGm8gNrVw/edit#bookmark=id.i745iivrgw44') %> in the LLBoC.</p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/75201e62-b98b-4283-a74a-f6b8dc957564?watermark=0&color=&sharing=0&title=1" frameborder="0" class="video" title="What is coaching?" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>Coaching for Compliance & Coaching with Compassion</h1>
    <p>For further reading, see <%= link_to('"Coaching for Compliance vs Coaching for Compassion"', 'https://docs.google.com/document/d/1vmsmqXJX9gGTMZiMJaKIsFAFnwacgFxPIkIGm8gNrVw/edit#bookmark=id.mzxkctudyq3a') %> in the LLBoC.</p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/216fd012-f06b-4c3e-9e3b-c98c6b2f9062?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="Compliance vs Compassion" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>The Coaching Mindset</h1>
    <p>For further reading, see <%= link_to('"The Mindset"', 'https://docs.google.com/document/d/1vmsmqXJX9gGTMZiMJaKIsFAFnwacgFxPIkIGm8gNrVw/edit#bookmark=id.c7b25zzbaqlk') %> in the LLBoC.</p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/2c83efd2-4a75-4f16-aaa5-783e376aa57b?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="mindset" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>The Coaching Posture</h1>
    <p>For further reading, see <%= link_to('"The Posture"', 'https://docs.google.com/document/d/1vmsmqXJX9gGTMZiMJaKIsFAFnwacgFxPIkIGm8gNrVw/edit#bookmark=id.a5s9k4wrdwau') %> in the LLBoC.</p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/18c5cdcc-7637-4b38-86d7-e85261a10de4?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="The Coaching Posture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>Red, Yellow, Green Checkins</h1>
    <p>For further reading, see <%= link_to('"Red, Yellow, Green Check-ins"', 'https://docs.google.com/document/d/1vmsmqXJX9gGTMZiMJaKIsFAFnwacgFxPIkIGm8gNrVw/edit#bookmark=id.v4plobcnf33t') %> in the LLBoC.</p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/2f3269f8-8083-422c-a30b-08e8521fed78?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="Red-yellow-green Checkins" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>Safety, Stress, SOS</h1>
    <p>For further reading, see <%= link_to('"Safety, Stress, SOS"', 'https://docs.google.com/document/d/1vmsmqXJX9gGTMZiMJaKIsFAFnwacgFxPIkIGm8gNrVw/edit#bookmark=id.815du2gyz6ih') %> and <%= link_to('"The Cycle of Sacrifice and Renewal"', 'https://docs.google.com/document/d/1vmsmqXJX9gGTMZiMJaKIsFAFnwacgFxPIkIGm8gNrVw/edit#bookmark=id.hr01y9hav0bc') %> in the LLBoC, and download a full version of the <%= link_to('"Polyvagal Map"', 'https://drive.google.com/file/d/1lZ1zInvFtOXtnYpY1MTW1AabN9EBxqzl/view?usp=sharing') %>. </p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/0033c145-0b37-423f-a115-c524b53ae1cf?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="Safety, Stress, SOS" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h1>Locating Yourself</h1>
    <p>For further reading, see <%= link_to('"Locating Yourself"', 'https://docs.google.com/document/d/1vmsmqXJX9gGTMZiMJaKIsFAFnwacgFxPIkIGm8gNrVw/edit#bookmark=id.8i5cy3qek5b0') %> in the LLBoC and grab a copy of the <%= link_to('"Locating Yourself Map here."', 'https://drive.google.com/file/d/1-VqG_NNt1CuNbQc3l61WTvuWYsuWV1IX/view?usp=sharing') %></p>
  </div>

  <div class="col-2">
    <div class="video-container">
      <iframe src="https://veed.io/embed/8ad462f1-c59b-40b8-b950-8f36aac92fd0?watermark=0&color=&sharing=0&title=1" class="video" frameborder="0" title="Locating Yourself" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>



<%= partial "signup" %>
