<footer>
  <div class="inner">
  <hr />
    <div class="two-col-equal">

      <div class="">

        <div class="collection">
          <h3>Odds & Ends</h3>
          <ul>
            <li><%= link_to('About', 'about') %></li>
            <li><%= link_to('Research', 'research') %></li>
          </ul>
        </div>

        <div class="collection">
          <h3>Let's Work Together</h3>
          <ul>
            <li><%= link_to('Coaching', 'coaching') %></li>
            <li><%= link_to('How It Works', 'logistics') %></li>
            <li><%= link_to('My Approach', 'approach') %></li>
            <li><%= link_to('Who I Work With', 'who') %></li>
          </ul>
        </div>

        <div class="collection">
          <h3>Let's Connect</h3>
          <ul>
            <li><%= link_to('Mastodon', 'https://indieweb.social/@pnts', :rel => 'me') %></li>
            <li><%= link_to('Medium', 'https://medium.com/method-matter') %> </li>
            <li><%= link_to('LinkedIn', 'https://www.linkedin.com/in/mignolo/') %> </li>
            <li><%= link_to('RSS', 'feed.xml') %></li>
          </ul>
        </div>
      </div>


        <!-- <ul class="socials">
          <li><%= link_to('RSS', 'feed.xml') %></li>
          <li><%= link_to('Mastodon', 'https://indieweb.social/@pnts', :rel => 'me') %></li>
          <li><%= link_to('Medium', 'https://medium.com/method-matter', :class => 'medium') %> </li>
          <li><%= link_to('LinkedIn', 'https://www.linkedin.com/in/mignolo/', :class => 'linkedin') %> </li>
        </ul> -->

    </div>

    <div class="colophon">
      <p class="made">Made with Middleman, Ideal Sans, Chronicle, and ❤️.</p>
      <p class="hosting">Hosted on Github. This site does not track you.</p>
      <p class="copyright">&copy; 2017 - 2023, Andrea Mignolo</p>
    </div>
  </div>
</footer>
