---
title: Andrea (Andi) Mignolo - Executive and Team Coach
description: Designer, writer, and product executive turned coach to visionary leaders and teams. Background, training, and qualifications. 
keywords: executive coach, leadership coach, executive team coach, leadership team coach, Realization Process teacher, meditation for plant medicine
image: "amignolo-profile-web-square.jpg"
layout: content
---


<section class="content">
  <div class="col-1">
    <h1>Hi, I'm Andrea.</h1>
    <p class="nickname">You can call me Andi.</p>
  </div>

  <div class="col-2">
    <%= image_tag("amignolo-profile-web-square.jpg", :class => "bio") %>

    <p>Over the last two decades I've had a pretty winding career path: testing video games, overseeing the digital side of Free Speech TV, teaching business English in Japan, and building product at multiple tech start-ups with two exits and one currently at unicorn status. Since 2020 I've been an executive coach working with unconventional leaders and teams including non-founder executives, global management teams, and emerging leaders.</p>

    <p>I work one-on-one with clients, coach executive teams, run group coaching programs, and design leadership development curriculum for organizations.</p>

    <p>I write a monthly newsletter called <%= link_to('the becoming', 'the-becoming') %> about leadership, change, and being human. I'm on the Global Board of Directors of the <%= link_to('Interaction Design Association', 'https://ixda.org/') %> and run an experimental ontological design studio, <%= link_to('P N T S . U S', 'https://pnts.us/') %>.</p>

    <p>Outside of coaching I am a <%= link_to('fully certified Realization Process teacher', 'https://realizationprocess.org') %>, an <%= link_to('avid backcountry camper', 'https://www.nps.gov/subjects/camping/backcountry-camping.htm') %>, and a <%= link_to('budding martial artist', 'https://plumblossom.net/ChoyLiFut/') %>.</p>

  </div>
</section>


<hr />


<section class="content training">
  <div class="col-1">
    <h2>Qualifications & Training</h2>
  </div>

  <div class="col-2">
    <p>As a coach I am committed to my own self-inquiry and personal development, as well as deepening the skills and knowledge needed to serve clients. Current focus: spending 2023 exploring the <%= link_to('Cape Cod model of Gestalt', 'https://www.gisc.rg') %> and continuing to deepen my study of the <%= link_to('Realization Process', 'https://realizationprocess.org') %> with <%= link_to('Roma Hammel', 'https://www.romahammel.com') %>.</p>

    <h3>BA, <%= link_to('Oberlin College', 'https://oberlin.edu') %></h3>
    <p>Technocultural Studies</p>

    <h3>MBA, <%= link_to('Case Western Reserve University', 'https://weatherhead.case.edu/degrees/masters/mba/executive/') %></h3>
    <p>Intentional Change Theory, Appreciative Inquiry, Organizational Design</p>
    <p class="teacher">With Tom King, Melvin Smith, Richard Boyatzis, Ron Fry, David Cooperrider, Youngjin Yoo, Peter Ritchkin, Mohan Reddy</p>

    <h3>Fundamentals of the Riso-Hudson Enneagram, <%= link_to('Enneagram Institute', 'https://www.enneagraminstitute.com') %></h3>
    <p>Certified July, 2019</p>
    <p class="teacher">With Russ Hudson</p>

    <h3>Integral Coach, <%= link_to('New Ventures West', 'http://www.newventureswest.com') %></h3>
    <p>Certified September, 2019</p>
    <p class="teacher">With Cynthia Luna, Marina Illich, Fabian Di Felice, Anne Esgeth</p>

    <h3>Racial Healing & Anti-Bias Training, <%= link_to('Racial Healing Allies', 'https://www.ticiess.com') %></h3>
    <p>Mindful Allyship: An Intro Course for Heart-felt Racial Healing, 2020</p>
    <p class="teacher">With Tovi Scruggs-Hussein</p>

    <h3>Integral Team Coaching, <%= link_to('New Ventures West', 'http://www.newventureswest.com') %></h3>
    <p>Using Integral Coaching methodologies with teams, 2020</p>
    <p class="teacher">With Cynthia Luna, Sahar Azarabadi</p>

    <h3>M̓i tel'nexw Leadership Transformation, <%= link_to("M̓i tel'nexw Leadership Society", 'https://www.nahaneecreative.com/facilitated-workshops-1') %> </h3>
    <p>Squamish-led Leadership Transformation, 2020</p>
    <p class="teacher"> With Ta7talíya Michelle Nahanee, Chepximiya Siyam, Willard (Buddy) Joseph</p>

    <h3>How to be (Less Harmful), <%= link_to('Arctic', 'https://www.ar-tic.org') %></h3>
    <p>Training White Helpers to Serve BIPOC Clients, 2020</p>
    <p class="teacher">With Rebecca Davis, Shea Lowery</p>

    <h3>Associate Certified Coach, <%= link_to('International Coaching Federation', 'https://coachingfederation.org/') %></h3>
    <p>Certified January, 2021</p>

    <h3>Strozzi Somatics, <%= link_to('Strozzi Institute', 'https://strozziinstitute.com') %></h3>
    <p>Embodied Leadership, May 2021<br/>
    Somatic Bodywork Level 1, September 2021<br/>
    Somatics, Trauma, and Resilience, October 2021</p>
    <p class="teacher">With Staci Haines, Iman Boundaoui, LeeAnn Mallorie, Erika Lyla</p>


    <h3>Dream Tending and Deep Imagination, <%= link_to('Dream Tending', 'https://dreamtending.com') %></h3>
    <p>Level 1 Certification, January 2022</p>
    <p class="teacher">With Stephen Aizenstat</p>

    <h3>Professional Certified Coach, <%= link_to('International Coaching Federation', 'https://coachingfederation.org/') %></h3>
    <p>Certified June, 2022</p>

    <h3>Big Leap Coach, <%= link_to('The Hendricks Institute', 'https://hendricks.com') %></h3>
    <p>Evolutionary Playground, Summer 2022 <br/>
    Body Intelligence Advanced Training, Spring 2023</p>
    <p class="teacher">With Katy and Gay Hendricks</p>

    <h3>Integral Unfoldment, <%= link_to('Aletheia', 'https://integralunfoldment.com') %></h3>
    <p>Level 1, Spring 2021 <br/>
       Level 2, Winter 2022</p>
    <p class="teacher">With Steve March</p>

    <h3>Realization Process Teacher Training, <%= link_to('The Realization Process', 'https://realizationprocess.org') %></h3>
    <p>RP Meditation Teacher, April 2021<br/>
       RP Embodiment Teacher, April 2022<br/>
       RP Healing Ground Teacher, April 2023
    </p>
    <p class="teacher">With Judith Blackstone</p>

    <h3>Advanced RP Teacher Mentoring Program, <%= link_to('Living and Teaching Authentically', 'https://www.romahammel.com/mentoring/') %></h3>
    <p>Winter 2023</p>
    <p class="teacher">With Roma Hammel</p>

    <h3>Cape Cod Training Program, <%= link_to('Gestalt International Study Center', 'https://www.gisc.org/cape-cod-training-program') %></h3>
    <p>Introduction to the Model, September 2022<br/>
    Full Program, November 2023</p>
    <p class="teacher">With Lucy Ball, Nancy Rutkowski, Carol Brockmon</p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Land Acknowledgement</h2>
  </div>

  <div class="col-2">
    <p>I reside on the unceded ancestral homeland of the <%= link_to('Ramaytush Ohlone', 'https://www.ramaytush.org') %> peoples who are the original inhabitants of the San Francisco Peninsula. With deepest respect to the Ancestors, Elders and Relatives of the Ramaytush Community, I affirm their sovereign rights as First Peoples. I am committed to dismantling ongoing legacies of settler colonialism and white supremacy through study, service, donations, <%= link_to('Yunakin Land Tax', 'https://ramaytush.kindful.com/?campaign=1199658') %>, and my own inner-work. </p>
  </div>
</section>

<%#= partial "signup" %>
