---
title: about
description: bio, training, and credentials for Andrea Mignolo, the founder of method & matter
keywords: executive coaching, start-up executives, start-ups, tech, software, business coaching
---


<section class="content">
  <div class="col-1">
    <h2>Hi, I'm Andrea.</h2>
    <p class="nickname">You can call me Andi.</p>
  </div>

  <div class="col-2">
    <%= image_tag("amignolo-profile-web.jpg", :class => "bio") %>

    <p>Over the last two decades I've had a pretty winding career path: testing video games, overseeing the digital side of Free Speech TV, teaching business English in Japan, and building product at multiple tech start-ups with two exits and one currently at unicorn status. Since 2020 I've been an executive coach working with unconventional leaders and teams including non-founder executives, global management teams, and emerging leaders.</p>

    <p>I work one-on-one with clients, coach executive teams, run group coaching programs, and design leadership development curriculum for organizations.</p>

    <p>I write a monthly newsletter called Kitchen Party that explores the intersection of leadereship, business, psychology, and design. I'm also the President of the <%= link_to('Interaction Design Association', 'https://ixda.org/') %> and run an experimental ontological design studio, <%= link_to('P N T S . U S', 'https://pnts.us/') %>.</p>

    <p>Outside of coaching I am a <%= link_to('dedicated meditator', 'https://realizationprocess.org') %>, <%= link_to('occasional investor', 'https://angel.co/u/pnts') %>, amateur chef, and <%= link_to('budding martial artist', 'https://plumblossom.net/ChoyLiFut/') %>.</p>

  </div>
</section>


<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Who I Work With</h2>
  </div>

  <div class="col-2">
    <p>I am passionate about working with people, teams, and companies who are committed to creative ways of leading (and living) in this volatile and uncertain world. People who believe that business can be an instrument for positive change and that work can be filled with intention, meaning, and joy. If you are longing to live at the intersection of purpose and passion, if you are ready to take the next giant step in your leadership journey, and if you are ready to listen deeply to what is calling to you, <%= link_to("let's talk", 'consultation' )%>.</p>

    <p>At a glance, people I work with tend to be:</p>

    <ul class="bullets">
      <li>Non-founder executives - C-level, EVP, SVP, VP</li>
      <li>Executive teams</li>
      <li>Global management teams</li>
      <li>Pre-seed to IPO start-ups & scale-ups</li>
      <li>Social entrepreneurs</li>
      <li>Senior ICs (staff, prinicpal)</li>
      <li>Emerging leaders (senior manager - director level) in design, product management, and engineering</li>
  </div>
</section>

<div class="separator"></div>


<section class="content training">
  <div class="col-1">
    <h2>Qualifications & Training</h2>
  </div>

  <div class="col-2">
    <p>As a coach I am committed to my own self-inquiry and personal development, as well as deepening the skills and knowledge needed to deeply serve clients. Current learning focus: <%= link_to('Gestalt coaching', 'https://www.gisc.org') %>, <%= link_to('Alethia Level 2', 'https://integralunfoldment.com') %>, and ongoing <%= link_to('Realization Process', 'https://realizationprocess.org') %> meditation teacher trainings.</p>

    <h3>BA, <%= link_to('Oberlin College', 'https://oberlin.edu') %></h3>
    <p>Technocultural Studies</p>

    <h3>MBA, <%= link_to('Case Western Reserve University', 'https://weatherhead.case.edu/degrees/masters/mba/executive/') %></h3>
    <p>Intentional Change Theory, Appreciative Inquiry, Organizational Design</p>

    <h3>Fundamentals of the Riso-Hudson Enneagram, <%= link_to('Enneagram Institute', 'https://www.enneagraminstitute.com') %></h3>
    <p>Certified July, 2019</p>

    <h3>Integral Coach, <%= link_to('New Ventures West', 'http://www.newventureswest.com') %></h3>
    <p>Certified September, 2019</p>

    <h3>Racial Healing & Anti-Bias Training, <%= link_to('Racial Healing Allies', 'https://www.ticiess.com') %></h3>
    <p>Mindful Allyship: An Intro Course for Heart-felt Racial Healing w/Tovi Scruggs-Hussein, 2020</p>

    <h3>Integral Team Coaching, <%= link_to('New Ventures West', 'http://www.newventureswest.com') %></h3>
    <p>Using Integral Coaching methodologies with teams, 2020</p>

    <h3>M̓i tel'nexw Leadership Transformation, <%= link_to("M̓i tel'nexw Leadership Society", 'https://www.mitelnexwleadershipsociety.org') %> </h3>
    <p>Squamish-led Leadership Transformation, 2020</p>

    <h3>How to be (Less Harmful), <%= link_to('Arctic', 'https://www.ar-tic.org') %></h3>
    <p>Training White Helpers to Serve BIPOC Clients, 2020</p>

    <h3>ACC, <%= link_to('International Coaching Federation', 'https://coachingfederation.org/') %></h3>
    <p>Certified January, 2021</p>

    <h3>Integral Unfoldment, <%= link_to('Alethia', 'https://integralunfoldment.com') %></h3>
    <p>Level 1, Spring 2021 <br/>
      Level 2, Fall 2022</p>

    <h3>Realization Process Teacher Training, <%= link_to('The Realization Process', 'https://realizationprocess.org') %></h3>
    <p>Studying with Judith Blackstone and Roma Hammel. Full teacher certification 2023.</p>

    <h3>Embodied Leadership, <%= link_to('Strozzi Institute', 'https://strozziinstitute.com') %></h3>
    <p>May, 2021</p>

    <h3>Somatic Bodywork Level 1, <%= link_to('Strozzi Institute', 'https://strozziinstitute.com') %></h3>
    <p>September, 2021</p>

    <h3>Somatics, Trauma, and Resilience, <%= link_to('Strozzi Institute', 'https://strozziinstitute.com') %></h3>
    <p>October, 2021</p>

    <h3>Dream Tending and Deep Imagination, <%= link_to('Dream Tending', 'https://dreamtending.com') %></h3>
    <p>Level 1 Certification, January 2022</p>

    <h3>PCC, <%= link_to('International Coaching Federation', 'https://coachingfederation.org/') %></h3>
    <p>Certified June, 2022</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Land Acknowledgement</h2>
  </div>

  <div class="col-2">
    <p>I reside on the unceded ancestral homeland of the <%= link_to('Ramaytush Ohlone', 'https://www.ramaytush.org') %> peoples who are the original inhabitants of the San Francisco Peninsula. With deepest respect to the Ancestors, Elders and Relatives of the Ramaytush Community, I affirm their sovereign rights as First Peoples. I am committed to dismantling ongoing legacies of settler colonialism and white supremacy through study, service, donations, Yunakin Land Tax, and my own inner-work. </p>
  </div>
</section>

<%= partial "signup" %>
