---
title: about
description: our approach to executive coaching for design, product, and engineering leaders and executives
keywords: coaching, design leadership, executive coaching, coaching for designers, coaching for design leaders
---

<!-- <section class="hero">

</section> -->


<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Hi, I'm <%= link_to('Andrea', 'https://pnts.us/bio') %></h2>
  </div>

  <div class="col-2">
    <%= image_tag("amignolo-web.png", :class => "bio") %>
    <p>I founded method & matter because I believe in leaders like you. Leaders that don't necessarily "look" like the dominant leadership archetype. My personal leadership journey was fraught with doubt, derision, and failures as I struggled to find a way of leading that was aligned with my values and vision. With the guidance of an executive coach, I began a journey of unwinding beliefs that no longer served me, while cultivating a connection with my power, purpose, and embodied leadership.</p>

    <p>The work was nothing less than transformational. And I want this for you, too.  </p>

    <p>Before becoming a coach I lead product and design teams for startups in the B2B SaaS space, and before that I taught business English in Japan for four years. I'm currently the President of the <%= link_to('Interaction Design Association', 'https://ixda.org') %>, have an MBA from the  <%= link_to('Weatherhead School of Management', 'https://weatherhead.case.edu') %>, a BA in Technocultural Studies from <%= link_to('Oberlin College', 'https://oberlin.edu') %>, and am certified through <%= link_to('New Ventures West', 'https://newventureswest.com') %>, <%= link_to('The International Coaching Federation', 'https://coachingfederation.org/') %>, and the <%= link_to('Enneagram Institute', 'https://www.enneagraminstitute.com/') %>.

    <p><strong>Land Acknowledgement:</strong> I reside on the unceded ancestral homeland of the <%= link_to('Ramaytush Ohlone', 'https://www.ramaytush.org') %> peoples who are the original inhabitants of the San Francisco Peninsula. With deepest respect to the Ancestors, Elders and Relatives of the Ramaytush Community, I affirm their sovereign rights as First Peoples. I am committed to dismantling ongoing legacies of settler colonialism and white supremacy through ongoing study, service, donations, and my own inner-work. </p>

  </div>
</section>


<div class="separator"></div>

<!-- <section class="content">
  <div class="col-1">
    <h2>Why method & matter?</h2>
  </div>

  <div class="col-2">
    <p>I am passionate about working with people who are committed to creative ways of leading (and living) in this volatile and uncertain world. People who know there are better ways, who are bravely leading in the face of adversity, whose unique leadership archetype is desperately needed in this world. People who are determined to build a better future, who have hope, who refuse to give up. People who sense that their own transformation is the key to unlocking their wildest dreams, their teams, their companies, and their world.</p>

    <p>I believe that personal transformation is the foundation for meaningful change. By starting with ourselves we can examine ingrained patterns of communicating, responding, and collaborating. As we start to understand and shift our patterns we experience new possibilities for how we show up, and in these possibilities are the seeds of larger change.</p>
  </div>
</section>

<div class="separator"></div>

<!-- <section class="content">
  <div class="col-1">
    <h2>About method & matter</h2>
  </div>

  <div class="col-2">
    <p>method & matter is a coaching company started by <a href="https://pnts.us">Andrea Mignolo</a> that combines design, coaching, business, and leadership to facilitate the development of more resilient, compassionate, and present leaders.</p>
  </div>
</section> -->


<section class="content training">
  <div class="col-1">
    <h2>Qualifications & Training</h2>
  </div>

  <div class="col-2">
    <h3>BA, <%= link_to('Oberlin College', 'https://oberlin.edu') %></h3>
    <p>Technocultural Studies</p>

    <h3>MBA, <%= link_to('Case Western Reserve University', 'https://weatherhead.case.edu/degrees/masters/mba/executive/') %></h3>
    <p>Intentional Change Theory, Appreciative Inquiry, Organizational Design</p>

    <h3>Fundamentals of the Riso-Hudson Enneagram, <%= link_to('Enneagram Institute', 'https://www.enneagraminstitute.com') %></h3>
    <p>Certified July, 2019</p>

    <h3>Integral Coach, <%= link_to('New Ventures West', 'http://www.newventureswest.com') %></h3>
    <p>Certified September, 2019</p>

    <h3>Racial Healing & Anti-Bias Training, <%= link_to('Racial Healing Allies', 'https://www.ticiess.com') %></h3>
    <p>Mindful Allyship: An Intro Course for Heart-felt Racial Healing w/Tovi Scruggs-Hussein, 2020</p>

    <h3>Integral Team Coaching, <%= link_to('New Ventures West', 'http://www.newventureswest.com') %></h3>
    <p>Using Integral Coaching methodologies with teams, 2020</p>

    <h3>M̓i tel'nexw Leadership Transformation, <%= link_to("M̓i tel'nexw Leadership Society", 'https://www.mitelnexwleadershipsociety.org') %> </h3>
    <p>Squamish-led Leadership Transformation, 2020</p>

    <h3>How to be (Less Harmful), <%= link_to('Arctic', 'https://www.ar-tic.org') %></h3>
    <p>Training White Helpers to Serve BIPOC Clients, 2020</p>

    <h3>ACC, <%= link_to('International Coaching Federation', 'https://coachingfederation.org/') %></h3>
    <p>Certified January, 2021</p>

    <h3>Integral Unfoldment, <%= link_to('Alethia', 'https://integralunfoldment.com') %></h3>
    <p>Level 1, Spring 2021 <br/>
      Level 2, Fall 2022</p>

    <h3>Realization Process Teacher Training, <%= link_to('The Realization Process', 'https://realizationprocess.org') %></h3>
    <p>Studying with Judith Blackstone and Roma Hammel. Full teacher certification 2023.</p>

    <h3>Embodied Leadership, <%= link_to('Strozzi Institute', 'https://strozziinstitute.com') %></h3>
    <p>May, 2021</p>

    <h3>Somatic Bodywork Level 1, <%= link_to('Strozzi Institute', 'https://strozziinstitute.com') %></h3>
    <p>September, 2021</p>

    <h3>Somatics, Trauma, and Resilience, <%= link_to('Strozzi Institute', 'https://strozziinstitute.com') %></h3>
    <p>October, 2021</p>

    <h3>Dreamtending and Deep Imagination, <%= link_to('Dream Tending', 'https://dreamtending.com') %></h3>
    <p>Certificate 1, January 2022</p>
  </div>
</section>

<div class="separator"></div>

<%= partial "contact" %>
