---
title: individual coaching
description: method & matter provides executive coaching for designer leaders, product leaders, and engineering leaders
keywords: coaching, executive coaching for designers, executive coaching for product managers, executive coaching for engineering managers, leadership development, executive coaching
---

<section class="hero">
  <h1 class="longer">New worlds of possibility, effectiveness, and impact. <p>Whatever has you stuck, whatever prevents you from realizing your vision and leading in the way you know is possible, our work together will dig deep to loosen the grip of old belief systems and unlock your authentic leadership style so that you, your team, and your company can flourish.</p></h1>

</section>


<section class="content">
  <div class="col-1">
    <h2>What You Can Expect</h2>
  </div>

  <div class="col-2">
    <p>My approach to coaching is broad, deep, and completely customized.</p>

    <p>People usually come to coaching when there is some kind of breakdown or stuck-ness showing up in their life that isn't getting resolved. With executive coaching this can look like needing to level-up your leadership game, build resilience, develop executive presence, have difficult conversations, quite the inner-critic, manage teams, and lead through change (to name a few). Sometimes it can also mean a transition into a new role, organization, or career.</p>

    <p>Whatever you come to coaching with, the goal, outcome, or possibility you long for becomes the foundation of our coaching container. From there, everything is designed specifically around your own way of being in the world. Some people prefer more structure and a formal coaching program. Others prefer less structure and work more comfortably with an “unfolding” approach. A bi-weekly meeting cadence combined with email and text support builds the container in purposeful way to facilitate your development both personally and professionally.</p>

    <p>I bring a wide range of training, education, and experience to coaching. <%= link_to('Integral Coaching', 'https://newventureswest.com') %> and <%= link_to('Integral Unfoldment', 'https://integralunfoldment.com') %> are the foundation of my coaching approach. I use organizational design and strengths-based change theories  from my <%= link_to('MBA', 'https://weatherhead.case.edu') %>  (as well as business thinking), embodiment and meditation approaches from the <%= link_to('Realization Process', 'https://realizationprocess.org') %>, breathing and yoga practices informed by <%= link_to('Parayoga', 'https://www.parayoga.com') %>, ongoing work in <%= link_to('racial healing', 'https://www.ticiess.com/racial-healing-allies') %> and <%= link_to('decolonizing practices', 'https://www.mitelnexwleadershipsociety.org/individuals') %>, as well as extensive experience building and running product and design teams at the executive level.</p>

    <p>Typical engagements run 6 - 12 months. For this type of work, a minimum of 3 months is recommended.</p>

  </div>
</section>


<div class="separator"></div>

<%= partial "principles" %>


<div class="separator"></div>

<%= partial "contact" %>
