---
title: Executive and Team Coaching
description: One-on-one executive coaching, team coaching, group coaching, and leadership programs.
keywords: executive coach, leadership coach, design executive coach, design leadership coach, executive team coach, leadership team coach, group coaching, Andrea Mignolo
image: "og/og-simple.png"
layout: content
---

<section class="hero full-width">
  <div class="text">
    <h1>Executive Coaching for Leaders and Teams</h1>

    <div class="explainer">
      <h2><strong><%= link_to('One-on-one coaching', 'executive-coaching') %></strong> is a perfect fit for executives, senior leaders, and emerging leaders who want to be more impactful in their roles and who are looking for deeper meaning and purpose in their work.</h2>

      <h2>For teams looking to work better together check out <strong><%= link_to('team coaching', 'team-coaching') %></strong>&mdash;a process focused, evidenced-based approach that helps teams become aware of, enhance, and change relational dynamics and patterns of interaction that accelerate team performance.</h2>

      <h2><strong><%= link_to('Group coaching', 'group-coaching') %></strong> typically involves a small group of professionals (6-8) at similar career levels engaging in group inquiry, advisory councils, and peer coaching. Through immersive, hands on experience using a coaching approach to support each other through challenges and opportunities, participants become more fluent with the coaching process and more effective in their leadership capacity.</h2>

      <h2>Combining coaching and training, <strong><%= link_to('leadership programs', 'leadership-programs') %></strong> take an experiential learning approach to teach essential skills for leading through change and building high performing teams.</h2>
    </div>

    <p><%= link_to('schedule a conversation', 'conversation', class: "btn") %></p>
  </div>
</section>


<%#= partial "testimonials" %>

<%#= partial "signup" %>
