---
title: coaching
description: executive coaching for unconventional leaders and teams - step into new worlds of possibility
keywords: executive coaching, design executive coaching, coaching for non-founder executives, start-ups, scale-ups, hypergrowth coaching, how to be an executive at a startup
---

<section class="hero">
  <div class="text">
    <h1>New worlds of possibility, effectiveness, and impact.</h1> <p>method & matter offers one-on-one coaching, leadership team coaching, and group coaching for creative change-makers, ambitious leaders, and soul-filled seekers.</p>

    <p><%= link_to('schedule a consultation', 'consultation', class: "btn") %></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>What You Can Expect</h2>
  </div>

  <div class="col-2">
    <blockquote>
      <p>Andi helped me navigate major life changes that affected my career in a big way. I grew tremendously as a person, and became far more self-aware, with her trustworthy, empathetic, and effective guidance. She helped me examine and understand my drivers  and impulses more clearly — both the ones that helped make me successful and the ones that were arguably holding me back. I walked away from every session having learned something and ready to try new approaches.</p>

      <p>- Chief Product Officer</p>
    </blockquote>

    <h3>People usually come to coaching seeking support to achieve audacious goals or when some kind of stuckness is showing up that isn't getting resolved. More often than not the two are interrelated.</h3>

    <p>We start with where you are and look at where you long to be. I see us as partners and co-creators in this work, but you are always in the driver's seat. My role is to fully <em>see</em> you and reflect what has become invisible through repeated familiarity. The deep grooves of secret strengths and limiting beliefs that over time have become your default way of being. By looking at how you interpret the world and organize yourself in response, we will uncover the narrative of who you are today and who you are becoming. This becoming is in service to your values, your fullest expression, your innate wholeness, and the goals for the coaching engagement.</p>

    <p>The outer challenges of leadership often reveal the inner challenges of our precious and unique being. Together we'll explore the external and internal world of work to unwind what blocks you and unlock your capacity. Common coaching topics include:</p>

    <p>
      <h4><strong>OUTER WORK</strong></h4>
      <ul class="bullets">
          <li>Building high-performing, effective teams</li>
          <li>Delivering clear and actionable feedback</li>
          <li>Stepping into difficult conversations</li>
          <li>Building trust and psychological safety</li>
          <li>Building a learning culture</li>
          <li>Setting goals, establishing OKRs</li>
          <li>Communicating with clarity</li>
          <li>Delegating and decision making</li>
          <li>Demystifying power and influence</li>
          <li>Building strong relationships</li>
      </ul>


      <h4><strong>INNER WORK</strong></h4>
      <ul class="bullets">
          <li>Creating radical clarity and focus</li>
          <li>Working with the inner critic</li>
          <li>Dealing with imposter syndrome</li>
          <li>Developing creative confidence</li>
          <li>Managing stress and avoiding burn out</li>
          <li>Fostering your unique leadership style</li>
          <li>Cultivating strengths</li>
          <li>Appreciating and working with resistance</li>
          <li>Coming home to yourself</li>
          <li>Befriending your nervous system</li>
          <li>Self unfolding</li>
          <li>Building resiliance</li>
        </ul>

    <p>With some clients I also do 360s and observe them in meetings in order to ground the work in observable assessments. I often recommend this because feedback from peers can be an eye-opening catalyst for where to start and what to prioritize.</p>

    <p>The challenges and opportunities you face at work can be used to build a clear awareness of self, and the systems in which the self operates. This awarness is the foundation of choiceful and courageous leadership. By connecting to your innate resourcefulness and creativity through the three centers of intelligence - mind, heart, and body - you will discover new ways to sense and respond in this rapidly changing world.</p>

    <div class="sub-links">
      <!-- <p><%= link_to('More on my approach', 'approach') %> &raquo;</p> -->
      <p><%= link_to('Who I work with', 'who') %> &raquo;</p>
      <p><%= link_to('Logistics, cadence, and fees', 'logistics') %> &raquo;</p>
      <p><%= link_to('Qualifications and training', 'about') %> &raquo;</p>
    </div>

  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Team Coaching</h2>
  </div>

  <div class="col-2">
    <blockquote>
      <p>Before working with Andi and Donna, we were an overworked, reactive executive team. Through learning and iterating on our leadership styles, we’ve pivoted to being intentional about how we lead.</p>

      <p>Slowing down has helped us get more done. It’s a much better work atmosphere for everyone across the board. We smile more. And we see more engagement across our company.</p>

      <p>- CEO & Founder</p>
    </blockquote>

    <h3>Whether your team is stuck or just wanting to flow better together, team coaching works with team identities, practices, and cultures to shift ways of working that lead to deeper impact and stronger outcomes.  </h3>

    <p>Built on the principles and foundations of individual coaching, team coaching integrates a holistic, systems-based approach to helping teams work better together.</p>

    <p>It all begins with an opening. Something isn't working, the team is facing a new challenge, the team has grown and needs a reset, whatever it is something feels off, or amiss. Through in-depth interviews with team members and stakeholders, we'll start to get a sense of what the underlying issues, challenges, and stuck-ness might be.
    </p>

    <p>The coaching program, ranging from unstructured to highly structured depending on the needs of the team, is completely customized to help the team step into new ways of working together, including communication, commitments, identity, culture, purpose, and power, both within the team, and in the ways the team interacts with other parts of the organization.</p>

    <p>For team coaching engagements I partner with the wonderful <%= link_to('Donna Lichaw', 'https://www.donnalichaw.com') %>.</p>
  </div>

</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Group Coaching</h2>
  </div>

  <div class="col-2">
    <h3>Group coaching combines the power of action learning and integral coaching to support leaders in creatively tackling the challenges they face while practicing the skills they need on the job.</h3>

    <p>Group coaching provides a safe and open space for leaders to explore challenges, develop critical skills through practice, and build deeper cross-cultural connections. I offer group coaching inside organizations that want to support cross-functional, cross-cultural experiential learning. Group coaching is a powerful complement to workshops and trainings, where tools and techniques can be put into practice week after week. For these engagements I typically work with HR leadership and L&D teams to ensure full alignment with internal best-practices and areas of development.</p>

  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Offsites</h2>
  </div>

  <div class="col-2">
    <h3>Appreciative Inquiry is a strengths-based, capacity building approach to leadership development and organizational change. </h3>

    <p>It's also a fun and engaging way to dream big and get strategic. Collaborative, inclusive, and generative, Appreciative Inquiry helps teams learn and transform through a unique combination of conversations, cooperation, committments, and questions. Best delivered in day-long offsites, Appreciative Inquiry workshops are customized for your specific team vision, goals, and needs.</p>

    <h4><strong>LEARNING OUTCOMES</strong></h4>
      <ul class="bullets">
        <li>Co-creation of a shared vision of what is possible</li>
        <li>An appreciation of the shared stories and experiences of the team</li>
        <li>Insight into what's working well and what could be even better</li>
        <li>An understanding of the unique strengths of both the team and each team member</li>
        <li>A strategy and set of shared committments that will help the team achieve the vision </li>

      </ul>
  </div>
</section>

<hr />

<%#= partial "testimonials" %>

<%= partial "signup" %>
