---
title: Confirmed!
description: Thank you for signing up to <strong>the becoming</strong>! I'm so glad you are here!
image: "og/og-symbol.jpg"
layout: content
---

<section class="content">
  <div class="col-1">
    <h2>Yay! Confirmed!</h2>
  </div>

  <div class="col-2">

      <p>Thank you for signing up to <strong>the becoming</strong>! I am so glad you are here.</p>

      <p>What exactly did you sign up for? Monthly(ish) emails from me with original essays, interesting links, and research notes at the edge of the known and the unknown. Sometimes things get a little weird, but it's a good kind of weird.</p>

      <p>In the meantime if you are interested you can <%= link_to('browse the archives', 'the-becoming') %>, check out some <%= link_to('additional resources', 'resources') %>, or read some of my other essays on <%= link_to('Medium', 'https://medium.com/method-matter') %>. I'd also love to connect on <%= link_to('Mastodon', 'https://indieweb.social/@pnts') %> and/or <%= link_to('LinkedIn', 'https://www.linkedin.com/in/mignolo/') %>!</p>

      <%= image_tag("confirmed.gif") %>

  </div>
</section>
