---
layout: false
---

<rss xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link
      href="https://methodandmatter.com/feed.xml"
      rel="self"
      type="application/rss+xml" />
		<category>Leadership and change</category>
    <copyright>2017-present Andrea Mignolo</copyright>
    <generator>Middleman (Ruby)</generator>
		<title>method &#038; matter</title>
		<link>https://methodandmatter.com/</link>
		<description>From the desk of Andrea Mignolo</description>
    <language>en-us</language>

	<%
    combined_articles = blog('the-becoming').articles + blog('notes').articles + blog('essays').articles
    combined_articles.each do |article| %>

			<item>
				<pubDate><%= article.date.utc.rfc822 %> %></pubDate>
				<title>[<%= article.data.label %>] <%= article.data.description %></title>
				<author>Andrea Mignolo</author>
				<link><%= "https://methodandmatter.com" + article.url %></link>

				<description>
					<![CDATA[
						<%= article.body %>
					]]>
				</description>
			</item>
	<% end %>

	</channel>
</rss>
