---
title: Executive coaching for individuals and teams.
description: Executive coaching for individuals and teams in start-ups, scale-ups, and hypergrowth companies.
keywords: non-founder executive coaching, leadership coaching, team coaching, design leadership coaching, executive team coaching, group coaching
image: "og/mm-og-1.jpg"
---
<section class="hero full-width">
  <div class="text">

  <h1>Shaping leadership and life.</h1>
  <h2>Increase the coherence between vocation and values, embody presence in the midst of uncertainty, and lead with purpose and power. </h2>
  <p>method & matter partners with executives and teams who are feeling stuck, challenged, or simply wanting to supercharge their leadership practice.</p>

  <p><em>Join over 700 subscribers and receive <%= link_to('monthly emails', 'kitchen-party') %>. No spam, ever.</em></p>

  <script async data-uid="3a8ab385a5" src="https://methodandmatter.ck.page/3a8ab385a5/index.js"></script>

  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <%= image_tag("amignolo-profile-web-square.jpg", :class => "circle fixed-width-20") %>
  </div>

  <div class="col-2">
    <h2>Hello! I'm <%= link_to('Andi', 'about') %>.</h2>
    <h3>I'm an <%= link_to('executive coach', 'coaching') %> working at the intersection of leadership, business, psychology, and design. </h3>

    <p>I believe that work is an invitation to both professional and personal growth, and that the challenges and opportunities we encounter each day can be transformational catalysts for individuals, teams, organizations, and society.</p>

    <p>I partner with leaders to build effective organizations, high-performing teams, and lasting change.</p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <%= image_tag("mm-leader-as-coach-2.png", :class => "circle fixed-width-20") %>
  </div>

  <div class="col-2">
    <h2><%= link_to('Leader as Coach', 'leader-as-coach') %>: A Cohort-based Course</h2>
    <h3>Learn and apply coaching skills to empower your team and maximize results.</h3>
    <p><strong>March 15th - April 12th, 2023</strong><br/>
    <%= link_to('Leader as Coach', 'leader-as-coach') %> is a 5 week cohort-based course that teaches leaders essential coaching skills that can unlock potential, enhance well-being, and accelerate team performance. </p>

    <p><%= link_to('Save your spot!', 'https://maven.com/andrea-mignolo/leader-as-coach') %></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <%= image_tag("research.jpg", :class => "circle fixed-width-20") %>
  </div>

  <div class="col-2">
    <h2>Current Research</h2>
    <h3>I'm <%= link_to('actively researching', 'research') %> how individuals and teams work with the experience of resistance in organizational settings.</h3>
    <p>I'm looking to talk to leaders who are willing to share their experiences of resistance in exchange for insights from my research that can help you understand and approach resistance in new and transformational ways.</p>

    <p>Interested? <%= link_to('Sign up!', 'research') %></p>
  </div>
</section>

<%= partial "signup" %>
