---
title: Coaching For Leaders and Seekers
description: Executive coaching for individuals and teams in start-ups, scale-ups, and hypergrowth companies, with Andrea (Andi) Mignolo.
keywords: executive coach, leadership coach, executive team coach, leadership team coach, design leadership coaching, executive team coaching, Andrea Mignolo, group coaching
image: "og/mm-og-1.jpg"
layout: content
---

<section class="hero full-width">
  <div class="text">

  <h1>Shaping leadership & life.</h1>
  <!-- <p>Increase the coherence between vocation and values, embody presence in the midst of uncertainty, and take creative, choiceful action. </p> -->

    <div class="explainer">

        <h2>Sometimes it can feel like everything has gone out of alignment. That inexplicably, and maybe quite suddenly, what worked before is no longer working. When this happens we have two options &mdash; ignore it and keep pushing forward as usual, or listen and evolve.</h2>

        <h2>METHOD <span class="amp">&</span> MATTER is a resource for <strong>leaders and seekers</strong> who feel called to alchemize these moments, transforming what no longer serves into fuel for <strong>deep and lasting change.</strong> </h2>
    </div>



    <div class="nav-paragraphs">
    <p>👋 <%= image_tag("amignolo-profile-web-square.jpg", :class => "circle") %> Hi! I'm <%= link_to('Andi', 'about') %>, an executive and team coach. I work with visionary leaders and teams committed to building convivial organizations in service of a better world. To learn more about what it would be like to work together, you can...
    </p>

    <ul class="bullets">
      <li>checkout my <%= link_to('offerings', 'coaching') %></li>
      <li>get a sense of <%= link_to('my approach', 'approach') %></li>
      <li>learn about <%= link_to('who I work with', 'who') %></li>
      <li>dive deep into <%= link_to('logistics', 'logistics') %></li>
    </ul>

    <p>If something resonates, <%= link_to('schedule a consultation', 'consultation') %> and let's explore further.</p>

    <hr />

    <p>🙋‍♀️ If you want <strong>hands on practice</strong> learning essential coaching skills to maximize your leadership impact check out ✨<strong><%= link_to('Leader as Coach', 'leader-as-coach') %></strong>✨. This six week cohort-based course will give you the skills to have better conversations, increase accountability, unlock potential, and increase team performance. </p>

    <hr />

    <p><strong><%= link_to('Words Make Worlds', 'words-make-worlds') %></strong> is a newsletter dedicated to the art, science, and craft of the Coaching Leadership Style. It goes out every two weeks, focusing on skills, mindsets, methodologies, and frameworks you can put into practice immediately.</p>

    <div class="mini"><script async data-uid="a0abf015cf" src="https://methodandmatter.ck.page/a0abf015cf/index.js"></script></div>

    <hr />

    <p><strong><%= link_to('the becoming', 'the-becoming') %></strong> is a more experimental and personal newsletter that sits at the edge of the known and unknown. Long form essays about what feels interesting and alive to me, sent every 30 days or so.</p>

    <div class="mini"><script async data-uid="3a8ab385a5" src="https://methodandmatter.ck.page/3a8ab385a5/index.js"></script></div>

    <hr />
    <p>📚 I love to write about leadership, coaching, and change. My thoughts and words on these topics can be found in the <%= link_to('resources section', 'resources') %>, including a recommended reading list for your journey!</p>

    <p>I'm a little behind on this but committed to putting more of my research into the public. You can follow along in the <%= link_to('research', 'research') %> section.</p>

    <p>Thank you for your presence. I'm glad you are here.</p>
  </div><!-- close text div -->
</section>
