---
title: Executive Coaching for Leaders and Teams
description: Executive and team coaching for visionary leaders and teams committed to building a better world. Includes resources, newsletters, essays, and guides for support along the way.
keywords: executive coach, leadership coach, executive team coach, leadership team coach, design leadership coaching, executive team coaching, Andrea Mignolo, group coaching
image: "og/og-symbol.png"
layout: content
---

<section class="hero full-width">
  <div class="text">

  <h1>Shaping leadership & life.</h1>
    <div class="explainer">
      <h2>Sometimes it can feel like everything has gone out of alignment. That inexplicably, and maybe quite suddenly, what worked before is no longer working. When this happens we have two options&mdash;ignore it and keep pushing forward as usual, or listen and evolve.</h2>

      <h2>METHOD <span class="amp">&</span> MATTER is a resource for <strong>leaders and seekers</strong> who feel called to alchemize these moments, transforming what no longer serves into fuel for <strong>deep and lasting change.</strong> </h2>
    </div>



    <div class="nav-paragraphs">

    <hr />

    <h3>👋 <%= image_tag("amignolo-profile-web-square.jpg", :class => "circle") %> Hi! I'm <%= link_to('Andi', 'about') %>, a former product and design executive turned <%= link_to('professional coach', 'https://www.linkedin.com/in/mignolo/') %>. I work with leaders who care <em>so deeply</em> about their work and their people that they lose themselves in the process. I support them to remember who they uniquely are, to regain executive confidence, and to lead with creative clarity. <br/><br/>Sound familiar? <%= link_to('Learn more about my offerings', 'coaching') %> or go ahead and <%= link_to('schedule a conversation', 'conversation') %>.


    <!-- I work with <%= link_to('visionary leaders and teams', 'coaching') %> committed to building convivial organizations in service of a better world. I believe in the importance of regenerative leadership, the strength of authentic connection, the clarity of purpose, and the power of teams. -->
    </h3>

    <hr />

    <h3>🙋‍♀️ If you want <strong>hands on practice</strong> learning essential coaching skills to maximize your leadership impact check out ✨<strong><%= link_to('Leader as Coach', 'leader-as-coach') %></strong>✨. This seven week cohort-based course will give you the skills to have better conversations, increase accountability, unlock potential, and multiply team performance. </h3>

    <hr />

    <p>🌎 <strong><%= link_to('Words Make Worlds', 'words-make-worlds') %></strong> is a seasonal newsletter dedicated to the art, science, and craft of the Coaching Leadership Style. Sent (roughly) bi-weekly when in season, each issue focuses on the skills, mindsets, and methods of coaching in organizations.</p>

    <div class="mini wmw"><%= partial "wmw_form" %></div>

    <hr />

    <p>&#10061; <strong><%= link_to('the becoming', 'the-becoming') %></strong> is a newsletter dedicated remembering and reinhabiting ourselves as participants in the ongoing creation of the world. Informed by practice-led research, you can expect joyfully irregular long-form essays sharing insights, artifacts, and explorations along the way.</p>

    <div class="mini the-becoming"><%= partial "tb_form" %></div>


  </div><!-- close text div -->
</section>
