---
title: Executive Coaching for Leaders and Teams
description: Executive and team coaching for visionary leaders and teams committed to building a better world. Resources, newsletters, essays, and guides for support along the way.
keywords: executive coach, leadership coach, executive team coach, leadership team coach, design leadership coaching, executive team coaching, Andrea Mignolo
image: "og/og-symbol.png"
layout: content
---

<section class="hero full-width">
  <div class="text">
    <h1>For <%= link_to('senior leaders', 'who') %> facing complex organizational challenges who want to do meaningful work without losing themselves.</h1>
  </div>
  <hr />
</section>

<section class="full-width">
    <div class="nav-paragraphs">
      <h2>Does it sometimes feel like you have to be someone you’re not in order to be an effective leader?</h2>

      <h3>You’ve worked hard to get here. Some days you’re on fire—hitting your stride, showing up powerfully, communicating clearly, and seeing the impact of your work. Other days you leave meetings reactive and exhausted, wondering where your confidence went.</h3>

      <h3>This push-pull between flow and frustration is common on the leadership journey. The good news? You don't need another leadership model to squeeze yourself into. You need practices that help you show up with presence, build trust, and drive results—all while staying true to who you are.</h3>

      <hr />

      <div class="mini-bio">
        <%= image_tag("amignolo-profile-web-square.jpg") %>
        <p>👋 Hi! I’m <%= link_to('Andi', 'about') %> (she/her) a leadership coach who helps executives navigate complex challenges while staying true to who they are. With extensive training in integral and somatic coaching plus real-world leadership experience, I guide leaders to stop hiding their gifts and start leading from their center.</p>
      </div>
      <hr />

      <%= partial "wmw_lockup" %>

      <hr/>

      <div class="e-book">
        <%= image_tag("ebook.png") %>
        <p>I wrote this short eBook after working with 100s of leaders who wanted to have more effective and purposeful conversations at work. Less framework for what to say, more how to show up relationally with your team, colleagues, and peers. <br/><br/>
        <%= link_to('Grab your copy', 'https://drive.google.com/file/d/1ncG0Ym1sj0BMt4gV_2sDjUEIXtjOE5Gx/view?usp=share_link') %>
        </p>
      </div>

      <hr />

      <div class="nav-lockup">
        <h4><strong>Where to next?</strong> Learn more about <%= link_to('how this works', 'executive-coaching') %> and <%= link_to('who I work with', 'who') %> (I also <%= link_to('coach teams', 'team-coaching') %>). Ready to take the next step? <%= link_to('Get in touch.', 'conversation') %></h4>
      </div>
    </div>
  </section>

<!--  <section class="fox">
      <%= image_tag("fox2.webp") %>
  </section> -->
