---
title: coaching
description: executive coaching for non-founder executives in start-ups, scale-ups and hypergrowth companies
keywords: non-founder executive coaching, leadership coaching, team coaching, executive team coaching, group coaching
---
<section class="hero full-width">
  <div class="text">
  <h1>
    Executive coaching for unconventional leaders and teams.</h1>
    <p>Your leadership journey is unique, but it doesn't have to be lonely. Whether you are feeling stuck, challenged, or simply ready to supercharge your leadership, working with a coach - a trusted partner and loyal ally - can open up new worlds of possibility, effectiveness, and joy.</p>

    <p><%= link_to('schedule a consultation', 'consultation', class: "btn") %></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <%= image_tag("amignolo-profile-web-square.jpg", :class => "circle fixed-width-20") %>
  </div>

  <div class="col-2">
    <h2>Hello! I'm Andi.</h2>
    <h3>I'm an <%= link_to('executive coach', 'about') %> working at the intersection of leadership, business, psychology, and design. </h3>

    <p>I believe that work is an invitation to both professional and personal growth, and that the challenges and opportunities we encounter each day can be transformational catalysts for individuals, teams, organizations, and society.</p>

    <p>I partner with leaders to build effective organizations, high-performing teams, and lasting change.</p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <%= image_tag("mm-leader-as-coach-2.png", :class => "circle fixed-width-20 coach") %>
  </div>

  <div class="col-2">
    <h2>Leader as Coach: A Cohort-based Course</h2>
    <h3>Learn and apply coaching skills to empower your team and maximize results.</h3>
    <p>January 30th - February 2nd, 2023. <%= link_to('Leader as Coach', 'https://maven.com/andrea-mignolo/leader-as-coach') %> is a weeklong intensive that teaches leaders essential coaching skills that can unlock potential, enhance well-being, and accelerate team performance. </p>

    <p><%= link_to('Save your spot!', 'https://maven.com/andrea-mignolo/leader-as-coach') %></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <%= image_tag("research.png", :class => "circle fixed-width-20") %>
  </div>

  <div class="col-2">
    <h2>Current Research</h2>
    <h3>I'm <%= link_to('actively researching', 'research') %> how individuals and teams work with the experience of resistance in organizational settings.</h3>
    <p>I'm looking to talk to leaders who are willing to share their experiences of resistance in exchange for insights from my research that can help you understand and approach resistance in new and transformational ways.</p>

    <p>Interested? <%= link_to('Sign up!', 'research') %></p>
  </div>
</section>

<%= partial "signup" %>
