---
title: Executive Coaching for Leaders and Teams
description: Executive and team coaching for visionary leaders and teams committed to building a better world. Resources, newsletters, essays, and guides for support along the way.
keywords: executive coach, leadership coach, executive team coach, leadership team coach, design leadership coaching, executive team coaching, Andrea Mignolo
image: "og/og-symbol.png"
layout: content
---

<section class="hero full-width">
  <div class="text">
    <h1>For <%= link_to('senior leaders', 'who') %> facing complex organizational challenges who want to do meaningful work without losing themselves.</h1>
  </div>
  <hr />
</section>

<section class="full-width">
    <div class="nav-paragraphs premise">
      <h2>Does it sometimes feel like you have to be someone you’re not in order to be an effective leader?</h2>

      <h3>You’ve worked hard to get here. Some days you’re on fire, and other days you feel reactive and exhausted, wondering where your confidence went.</h3>

      <h3>This oscillation between flow and frustration is common on the leadership journey, and frequently shows up when leaders are pushing up against their growth edge, where fear based patterns and limiting beliefs can be the loudest.</h3>

      <h3>The good news is that there is nothing wrong with you. This is, in fact, a wonderful place to be. It is a sign that you are ready to evolve your leadership into something more aligned and true to who you really are.</h3>
    </div>

    <hr />

    <div class="nav-paragraphs">
      <div class="about-company"><h2>METHOD & MATTER is a leadership and work coaching company based in San Francisco, offering executive coaching for <%= link_to('leaders', 'executive-coaching') %> and <%= link_to('teams', 'team-coaching') %>, cohort-based <%= link_to('leadership programs', 'leadership-programs') %>, and in-person experiential <%= link_to('offsites', 'offsites') %>.</h2></div>
    </div>

    <hr />

    <div class="nav-paragraphs">
      <%= partial "wmw_recent" %>

      <%= partial "wmw_lockup_home" %>
    </div>

    <hr/>

    <div class="e-book nav-paragraphs">
      <span class="subheading">EBOOK</span>
      <%= image_tag("ebook.png") %>
        <p>This small ebook is the product of working with 100s of leaders in organizations to have more effective and purposeful conversations at work.   <br/><br/>
        <%= link_to('Grab your copy', 'https://drive.google.com/file/d/1ncG0Ym1sj0BMt4gV_2sDjUEIXtjOE5Gx/view?usp=share_link') %> &rarr;
        </p>
    </div>

    <hr />

    <div class="mini-bio nav-paragraphs">
      <%= image_tag("amignolo-profile-web-square.jpg") %>
      <p>👋 Hi! I’m <%= link_to('Andi', 'about') %> (she/her) a leadership coach who helps executives navigate complex challenges with intention, clarity, and creativity. With extensive training in integral and somatic coaching plus real-world leadership experience, I guide leaders to stop hiding their gifts and start leading from their center.</p>
    </div>

    <hr />

    <div class="nav-paragraphs">
      <%= partial "nav_lockup" %>
    </div>
  </section>
