---
title: Integration Sessions
description: Co-meditation and process-oriented support for unpacking and integrating everything from limiting beliefs to psychedelic experiences.
image: "og/og-base.png"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Integration Sessions</h1>
    <p>Co-meditation and process-oriented support for unpacking and integrating everything from limiting beliefs to psychedelic experiences.</p>

    <p><%= link_to('schedule a conversation', 'conversation', class: "btn") %></p>
  </div>
</section>

<hr/>

<section class="content">
  <div class="col-1">
    <h2>What It Is</h2>
  </div>

  <div class="col-2">
    <p>Integration sessions are for individuals looking to unpack and integrate limiting beliefs, somatic constrictions, overwhelming emotions, and insights from dreams and psychdelic experiences.</p>

    <p>When hidden parts of ourselves start to make their way into conscious awareness—through memories, a felt-sense, repetitive thoughts, dreams, and non-ordinary states of consciousness—it can feel disruptive and overwhelming.</p>

    <p>The good news is nothing is wrong with you! This is a natural part of how we grow and mature as humans, and we are all born with the capacity to step into greater wholeness. But over time, most of us have forgotten how.</p>

    <p>Integration sessions re-connect you with your own unique process of living and leading. They are a supportive and gentle way for folks to work with challenging content that is getting in the way way of work and life. </p>
  </div>
</section>

<hr/>

<section class="content">
  <div class="col-1">
    <h2>How It Works</h2>
  </div>

  <div class="col-2">
    <p>You can think of integration sessions as a kind of co-meditation—together we settle into a state of presence and listen to what most wants attention. We work experientially by noticing and welcoming whatever shows up, free of self-judgement and blame. </p>

    <p>Through gentle attunement, somatic inquiry, and visualization you begin to metabolize what was hidden and open into deeper wholeness. With my support you'll design practices that can weave the new learnings, insights, and openings into your everyday life.</p>

    <p>Integration sessions run for 50 minutes and are scheduled on an as-needed basis. Afterwards I'll send you a recording of the session and any additional resources as needed.</p>
  </div>
</section>

<hr/>

<section class="content">
  <div class="col-1">
    <h2>Who Its For</h2>
  </div>

  <div class="col-2">
    <p>Integration sessions are not therapy—they are not designed to address pscyhological problems but rather support ontological wholness. Which is to say, integration sessions work at the level of <em>being.</em></p>

    <p>For leaders looking to work with metaphysical, spiritual, and philosophical conceptions dealing with meaning, purpose, and the nature of work, integration sessions are a good match.</p>

    <p>If you are noticing strong emotions showing up in particular situations at work, old memories that keep resurfacing, and/or persistent tension in the body, integration sessions could be a good fit.</p>

    <p>And if you would like additional support integrating insights from dreams, psychedelic experiences, and non-ordinary states of consciousness, integration sessions are for you.</p>

    <hr />

    <div class="nav-lockup">
      <h4><strong>Where to next?</strong> Learn more about <%= link_to('who I work with', 'who') %>, check out <%= link_to('1:1 coaching', 'executive-coaching') %>, and <%= link_to('check out the resource section', 'writing') %>. Ready to take the next step? <%= link_to('Get in touch.', 'conversation') %></h4>
    </div>
  </div>
</section>
