---
title: Monthly missives about leadership, business, and being human.
description: A newsletter for leaders and seekers at the intersection of leadership, business, psychology, and design
keywords: leadership newsletter, management newsletter, self development newsletter, soul deepening newsletter
image: "og/og-kp.jpg"
---

<section class="hero">
  <div class="text">
    <h1>Kitchen Party</h1> <p>A newsletter about leadership, business, and being human.</p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
  </div>

  <div class="col-2">
    <p>Whenever there is a house party people inevitably gather in the kitchen, convivially packed together with warmth and openness. The environment encourages the sharing of ideas, possibilities, and dreams, subtly connecting and altering all who are present.</p>

    <%= image_tag("kitchen-4.jpg") %>
    <p class="caption">Photo by <%= link_to('Kelsey Chance', 'https://unsplash.com/@kchance8') %> on Unsplash</p>

    <p>Leadership can often be lonely. Kitchen Party is the place you can turn to for understanding, support, connection, and actionabe insights to be more productive, effective, impactful, and present for your team, your company, and most importantly for yourself.</p>

    <p>By subscribing to Kitchen Party you'll receive original writing, curated content, and access to research in progress at the intersection of leadership, business, psychology, and design.</p>

    <p>As a thank you for joining Kitchen Party, you will receive access to Notes From the Emerging Future, an exercise that can be used to illuminate your unique path and bring forward a future that is more congruent and aligned with your strengths, gifts, and voice.</p>


    <div class="kp-editions">
    <h3>Previous Editions</h3>
    <% data.kpposts.newsletters.each do |n| %>
      <div class="kp-post">
        <%= image_tag n.image %>

        <div class="meta">
          <h2><%= n.date %></h2>
          <h3><%= link_to(n.title, n.link) %></h3>
        </div>
      </div>
    <% end %>
    </div>


    <h3>Subscribe to Kitchen Party</h3>
    <script async data-uid="3a8ab385a5" src="https://methodandmatter.ck.page/3a8ab385a5/index.js"></script>

  </div>
</section>
