---
title: Leader as Coach
description: A 5 week cohort-based course that teaches leaders essential coaching skills to unlock potential, enchance well-being, and accelerate team performance.
keywords: coaching skills for leaders, coaching skills for managers, leader as coach, coaching conversations, learn coaching skills
image: "og/leader-as-coach.jpg"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Leader as Coach</h1>
    <p>A weeklong, cohort-based course that teaches leaders essential coaching skills to unlock potential, enhance well-being, and accelerate team performance.</p>

    <p><%= link_to('enroll now', 'https://maven.com/andrea-mignolo/leader-as-coach', class: "btn") %></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Why This Course?</h2>
  </div>

  <div class="col-2">

    <iframe width="100%" height="375" src="https://www.youtube.com/embed/EcoIu-UsBdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p></p>

    <p>When I stepped into my first executive role I had a coach by my side to help with the transition. The work we did together was nothing less than transformative both professionally and personally, and years down the road I decided I wanted to be able to provide similar support for the teams I was leading.</p>

    <p>I jumped into the deep end with a year-long professional training course at <%= link_to('New Ventures West', 'https://www.newventureswest.com') %> in San Francisco. Early on in the program we learned that, because of power dynamics, leaders cannot coach their direct reports in the deepest sense of the work but that coach-like conversations and skills can have a meaningful impact on team perfomance, culture, and business outcomes.</p>

    <p>As I brought the lessons from coach training into the office it became easier to build cross-functional relationships, treat difficult conversations as a catalyst for transformation and learning (rather than conflict), and support my team in taking charge of their work and careers. People enjoyed coming to work, being a team, and facing challenges together. It wasn't always easy, but we got better with every iteration.</p>

    <p>I designed <%= link_to('Leader as Coach', 'https://maven.com/andrea-mignolo/leader-as-coach') %> to support leaders who are interested in adding coach-like skills to their leadership practice in order to have better, more impactful conversations and to increase the well-being and performance of their teams. Not just by learning the content, frameworks, and methodologies but by engaging in the <em>practice</em> of coaching conversations in a safe and supportive space.</p>

    <h4>ADDITIONAL READING</h4>
    <ul class="bullets">
      <li><%= link_to('The Leader as Coach (HBR)', 'https://hbr.org/2019/11/the-leader-as-coach') %></li>
      <li><%= link_to('The SOON Funnel: 4 Coaching Questions the Best Managers Ask (Training Industry)', 'https://trainingindustry.com/articles/performance-management/the-soon-funnel-4-coaching-questions-the-best-managers-ask/') %></li>
      <li><%= link_to('How to Hold a Coaching Conversation (CCL)', 'https://www.ccl.org/articles/leading-effectively-articles/how-to-have-a-coaching-conversation/') %></li>
      <li><%= link_to('Do You Understand What Accountability Really Means? (HBR)', 'https://hbr.org/2016/10/do-you-understand-what-accountability-really-means') %></li>
    </ul>

  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>When</h2>
  </div>

  <div class="col-2">

    <h3>Cohort 2: May 15 - 22nd, 2023</h3>

    <ul class="bullets">
      <li>Foundations: May 15th, 9 - 10:30am PST</li>
      <li>The Practicum: May 16th, 9 - 12:30pm PST</li>
      <li>Integration: May 22nd, 9 - 10:30am PST</li>
      <li>Plus one 30 minute 1:1 session with me.</li>
    </ul>

    <p><%= link_to('Sign up at Maven.com', 'https://maven.com/andrea-mignolo/leader-as-coach') %> (you can also stay in the loop about future cohorts).</p>

  </div>
</section>

<hr />


<section class="content">
  <div class="col-1">
    <h2>Pricing</h2>
  </div>

  <div class="col-2">
    <p>The cost of the course is <strong>$650 USD</strong>. Students that sign up for the first two cohorts - The Vanguard - can get 50% of the price by using the code VANGUARD50.</p>

    <p>As a thank you for being the first to enroll, you will also receive all future updates of the course manual, The Leader's Little Book of Coaching, as well as the option to enroll in any future cohort for free.</p>

  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Learning Outcomes</h2>
  </div>

  <div class="col-2">
    <p></p>
    <ul class="bullets">
      <li><strong>Understand what coaching is and its role in organizations </strong><br/>
      Coaching is both an art and a science, but it certainly isn't a mystery! This course will demystify coaching, clarify the role it plays in organizations, and provide leaders with a clear understanding of how to coach in business environments.</li>

      <li><strong>Know when to coach and when not to</strong><br/>
      Coaching is action oriented and future focused. In some situations coaching is the right move, while others require leaders to be strategic and directive. Learn where coaching conversations work best, and when to use a different communication approach.</li>

      <li><strong>Build fluency in the neuroscience of coaching</strong><br/>
        Stress is good in the right amount, but too much can push people into survival mode. When this happens a shift from being responsive to reactive takes place. Learn how the brain contributes to threat-based behavior and how to effectively and gracefully handle these situations.
      </li>

      <li>
        <strong>Integrate coaching skills into your leadership practice</strong><br />
        Coaching skills are great for coaching, and are also powerful leadership skills on their own. Fluency with active listening, building relationships, making clear requests, and navigating complexity will make you a more effective leader.
      </li>

      <li>
        <strong>Gain hands on experience coaching and being coached</strong> <br />
        Each workshop is designed with ample time dedicated to hands on, experiential learning where participants can engage in coaching and being coached. This is the best way to learn the core skills of coaching. People usually find this both scary and fun!
      </li>

      <li><strong>Increase capacity to engage in more meaningful interactions</strong> <br />
      Use coaching skills to deepen your awareness, power of observation, and leadership presence to build authentic relationships through which to coordinate action and effective performance.</li>
    </ul>

  </div>
</section>


<hr />

<section class="content">

  <div class="col-1">
    <h2>Syllabus</h2>
  </div>

  <div class="col-2">
    <p><strong>Module 1: Intro to Coaching</strong> <br/>
      In this module we'll learn why coaching is a critical skill for leaders and what makes coaching different in organizational settings. We'll also cover the mindset and posture of a coach, and the power of the optimistic stance.
    </p>

    <p><strong>Module 2: The Neuroscience of Coaching</strong> <br />
      Our nervous system plays a big part in how we show up as leaders, and how we can effectively support our teams. Understand the ways in which our nervous system and hormones affect our ability to get things done, impact those around us, and the role that regulation plays in effective coaching conversations.
    </p>

    <p><strong>Module 3: The Coaching Conversation</strong> <br />
      What does the arc of a coaching conversation look like? What happens in a coaching conversation? How do we start, how can we effectively navigate the middle, and how do we conclude? This module looks at the detailed anatomy of a coaching conversation.
    </p>

    <p><strong>Module 4: Coaching Frameworks</strong> <br />
      A review of common coaching frameworks, what they have in common, and how to use a framework as a map of the territory to guide your first few coaching conversations.
    </p>

    <p><strong>Module 5: Coaching Practicum</strong><br />
      The previous modules prepare students for the opportunity to put all the learnings into practice in the Coaching Practicum. Students will have the opportunity to practice coaching conversations in small groups in a safe, confidential, and supervised space. Grow your confidence in having grounded, insightful, and impactful coaching conversations.

    </p>
  </div>
</section>
