---
title: Leader as Coach
description: A 5 week cohort-based course that teaches leaders essential coaching skills to unlock potential, enchance well-being, and accelerate team performance.
keywords: coaching skills for leaders, coaching skills for managers, leader as coach, coaching conversations, learn coaching skills
image: "og/leader-as-coach-2.jpg"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Leader as Coach</h1>
    <p>A weeklong, cohort-based course that teaches leaders essential coaching skills to unlock potential, enhance well-being, and accelerate team performance.</p>

    <p><%= link_to('enroll now', 'https://maven.com/andrea-mignolo/leader-as-coach', class: "btn") %></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Why This Course?</h2>
  </div>

  <div class="col-2">

    <iframe width="100%" height="375" src="https://www.youtube.com/embed/en0bycjazc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <p></p>

    <p>I believe that coaching is a fundamental skill that makes us better leaders. In learning the foundations of coaching, leaders become better at delegating, creating shared agreements, providing feedback, and leading with clarity. And the self-awareness that is built in the process becomes the engine for future growth, both personally and professionally.</p>

    <iframe width="100%" height="375" src="https://www.youtube.com/embed/wpBHa5LVm_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <p></p>

    <p>I designed <%= link_to('Leader as Coach', 'https://maven.com/andrea-mignolo/leader-as-coach') %> to support leaders who are interested in adding coaching skills to their leadership practice in order to have better, more impactful conversations and to increase the well-being and performance of their teams. Not just by learning the content, frameworks, and methodologies but by engaging in the <em>practice</em> of coaching conversations in a safe and supportive space.</p>


    <h4>ADDITIONAL READING</h4>
    <ul class="bullets">
      <li><%= link_to('The Leader as Coach (HBR)', 'https://hbr.org/2019/11/the-leader-as-coach') %></li>
      <li><%= link_to('How to Hold a Coaching Conversation (CCL)', 'https://www.ccl.org/articles/leading-effectively-articles/how-to-have-a-coaching-conversation/') %></li>
      <li><%= link_to('Do You Understand What Accountability Really Means? (HBR)', 'https://hbr.org/2016/10/do-you-understand-what-accountability-really-means') %></li>
    </ul>

  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>When</h2>
  </div>

  <div class="col-2">

    <h3>Vanguard III: June 12th - 19th, 2023</h3>

    <ul class="bullets">
      <li>Foundations: June 12th, 9 - 11:00am PST</li>
      <li>The Practicum: June 13th, 9 - 12:30pm PST</li>
      <li>Integration: June 19th, 9 - 11:00am PST</li>
      <li>Plus one 30 minute 1:1 session with me.</li>
    </ul>

    <p><%= link_to('Sign up at Maven.com', 'https://maven.com/andrea-mignolo/leader-as-coach') %> (you can also stay in the loop about future cohorts).</p>

  </div>
</section>

<hr />


<section class="content">
  <div class="col-1">
    <h2>Pricing</h2>
  </div>

  <div class="col-2">
    <p>The cost of the course is <strong>$650 USD</strong>. Students that sign up for the first two cohorts - The Vanguard - can get 50% of the price by using the code VANGUARD50.</p>

    <p>As a thank you for being the first to enroll, you will also receive all future updates of the course manual, The Leader's Little Book of Coaching, as well as the option to enroll in any future cohort for free.</p>

  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Learning Outcomes</h2>
  </div>

  <div class="col-2">
    <p></p>
    <ul class="bullets">
      <li><strong>Understand what coaching is and its role in organizations </strong><br/>
      Coaching is both an art and a science, but it certainly isn't a mystery! This course will demystify coaching, clarify the role it plays in organizations, and provide leaders with a clear understanding of how to coach in business environments.</li>

      <li><strong>Know when to coach and when not to</strong><br/>
      Coaching is action oriented and future focused. In some situations coaching is the right move, while others require leaders to be strategic and directive. Learn where coaching conversations work best, and when to use a different communication approach.</li>

      <li><strong>Build fluency in the neuroscience of coaching</strong><br/>
        Stress is good in the right amount, but too much can push people into survival mode. When this happens a shift from being responsive to reactive takes place. Learn how the brain contributes to threat-based behavior and how to effectively and gracefully handle these situations.
      </li>

      <li>
        <strong>Integrate coaching skills into your leadership practice</strong><br />
        Coaching skills are great for coaching, and are also powerful leadership skills on their own. Fluency with active listening, building relationships, making clear requests, and navigating complexity will make you a more effective leader.
      </li>

      <li>
        <strong>Gain hands on experience coaching and being coached</strong> <br />
        Each workshop is designed with ample time dedicated to hands on, experiential learning where participants can engage in coaching and being coached. This is the best way to learn the core skills of coaching. People usually find this both scary and fun!
      </li>

      <li><strong>Increase capacity to engage in more meaningful interactions</strong> <br />
      Use coaching skills to deepen your awareness, power of observation, and leadership presence to build authentic relationships through which to coordinate action and effective performance.</li>
    </ul>

  </div>
</section>


<hr />

<section class="content">

  <div class="col-1">
    <h2>Syllabus</h2>
  </div>

  <div class="col-2">
    <p><strong>Module 1: Intro to Coaching</strong> <br/>
      In this module we'll learn why coaching is a critical skill for leaders and what makes coaching different in organizational settings. We'll also cover the mindset and posture of a coach, and the power of the optimistic stance.
    </p>

    <p><strong>Module 2: Foundations</strong> <br />
      Learn simple and effective tools to support you when you take on the role of coach. Increase your self-awareness, hone your powers of observation, and learn to ask open and honest questions that can facilitate new insights and lasting change.
    </p>

    <p><strong>Module 3: The Neuroscience of Coaching</strong><br />
      Our nervous system plays a big part in how we show up as leaders, and how we can effectively support our teams. Understand the ways in which our nervous system either supports or hinders our ability to get things done, impact those around us, and the role that regulation plays in effective coaching conversations.
    </p>


    <p><strong>Module 4: Observations and Assessments</strong><br />
      Clear and grounded feedback is an essential part of coaching conversations. In this module participants get hands on experience making distinctions between fact and opinion and learn how to use each to provide powerful feedback in service of change and transformation.
    </p>

    <p><strong>Module 5: The Coaching Conversation</strong> <br />
      What does the arc of a coaching conversation look like? What happens in a coaching conversation? How do we start, how can we effectively navigate the middle, and how do we conclude? This module looks at the detailed anatomy of a coaching conversation.
    </p>

    <p><strong>Module 6: The Coaching Practicum</strong><br />
      The previous modules prepare students for the opportunity to put all the learnings into practice in the Coaching Practicum. Students will have the opportunity to practice coaching conversations in small groups in a safe, confidential, and supervised space. Grow your confidence in having grounded, insightful, and impactful coaching conversations.
    </p>

    <p><strong>Module 7: Integration </strong> <br/>
      In the final module students will learn how to integrate coaching conversations into the day to day tasks of leading, managing, and creating a culture of accountability. Folks will also have the opportunity to reflect on their experience, create a learning plan, and design experiments to deepen their practice of the coaching leadership style.
    </p>
  </div>
</section>
