---
title: research
description: current research topics on leadership, organizational design, teams, and business
keywords: research, org design, coaching, learership, teams
---

<section class="hero">
  <div class="text">
    <h1>Current Research</h1>
  </div>

</section>
<div class="separator"></div>


<section class="content">
  <div class="col-1">
    <h2>Resistance in Organizations</h2>
    <p>How do people understand and work with resistance in organizational settings?</p>
  </div>

  <div class="col-2">
    <p>Resistance - individual or organizational - is a common theme from my days as an executive and one that comes up frequently with clients. As leaders tasked with innovation and change, why is it sometimes so hard to get new initiatives through? Opposition to innovation and creativity, unwillingness to adapt to changing conditions, or hostility towards new members or employees are a few of the common ways resistance manifests in organizations. </p>

    <p>When resistance does show up, the most common approach is to <em>overcome</em> it. For example, take a look at some of these articles from HBR:</p>

    <ul class="bullets">
      <li><%= link_to('How to Overcome Return-to-Office Resistance', 'https://hbr.org/2022/02/how-to-overcome-return-to-office-resistance') %></li>
      <li><%= link_to('How to Overcome Resistance to Change with Two Conversations', 'https://hbr.org/2017/05/overcome-resistance-to-change-with-two-conversations') %></li>
      <li><%= link_to('Overcome Resistance to Change by Enlisting the Right People', 'https://hbr.org/2016/09/overcome-resistance-to-change-by-enlisting-the-right-people') %></li>
      <li><%= link_to('Practical Tips for Overcoming Resistance', 'https://hbr.org/2013/07/practical-tips-for-overcoming-r') %></li>
      <li><%= link_to('Overcome Resistance With the Right Questions', 'https://hbr.org/2010/01/overcome-resistance-with-the-r') %></li>
      <li><%= link_to('Combat Resistance to Your Change Initiative', 'https://hbr.org/2008/08/combat-resistance-to-your-chan') %></li>
    </ul>

    <p>But what if we've been misunderstanding resistance this entire time? What if there is intelligence in the impulse of resistance? What if resistance only exists in the eyes of the change agent and is not the experience of those labeled as "opposers"? <strong>What if resistance is life affirming and necessary, an energy channeled into maintaining balance and integrity?</strong> </p>

    <p>I am interested in what happens when resistance is seen in this light; not as something to overcome but as multi-polar energies that can be worked with to the benefit of everyone involved.</p>

    <h3 class="highlight">If you are currently facing resistance in your organization, I'd love to talk to you.</h3>

    <p>I'm looking for real world case studies and examples of how resistance is understood, experienced, and managed in organizational settings. In exchange, I can offer you executive coaching around the specific challenges resistance is causing.</p>

    <p>Interested? Fill out this form and I'll get back to you!</p>

    <iframe class="airtable-embed" src="https://airtable.com/embed/shrE8OK6SpQq1yfnh?backgroundColor=red" frameborder="0" onmousewheel="" width="100%" height="1380" style="background: transparent; border: 1px solid #ccc;"></iframe>

    <p>
  </div>
</section>
