---
title: Resources for leaders and seekers.
description: Talks, articles, books, and other resources to help you on your leadership journey.
keywords: how to be an executive, working with founders, start-ups
image: "og/mm-og-1.jpg"
---

<section class="hero">
  <div class="text">
    <h1>Resources</h1>
    <p></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Eat Only Elk</h2>
    <p>Circa 2017, this personal talk explores the role belief systems play when it comes to effective, impactful, flourishing leadership.</p>
  </div>

  <div class="col-2">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/243835373?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
</section>


<hr />

<section class="content training">
  <div class="col-1">
    <h2>Writing</h2>
    <p>Follow along on <%= link_to('Medium', 'https://medium.com/method-matter') %>.</p>
  </div>

  <div class="col-2">
    <% data.writing.articles.each do |a| %>
      <h3><%= link_to(a.title, a.link) %></h3>
      <p><%= a.description %></p>
    <% end %>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2>Recommended Reading</h2>
  </div>
  <div class="col-2">
    <p>A list of books for leaders and seekers. <em>Please note that the links below are affiliate links. Any proceeds generated will be donated to <%= link_to('The Association of Ramaytush Ohlone', 'https://www.ramaytush.org') %>.</em></p>
  </div>
</section>

<% data.books.recommended.each do |b| %>
<section class="content">
  <div class="col-1">
  </div>

  <div class="col-2">
    <div class="content>"
      <div class="col-1">
        <p class="cover"><%= image_tag b.image %></p>
      </div>

      <div class="col-2">
        <ul class="book-meta">
          <li class="title"><%= b.title %></li>
          <li class="author"><%= b.author %></li>
          <li class="why"><%= b.why %></li>
          <li class="link"><%= link_to('link', b.link) %></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<% end %>

<%= partial "signup" %>
