---
title: Resources for Leaders and Seekers.
description: Talks, articles, books, and other resources to help you on your leadership journey, created by Andrea Mignolo.
keywords: leadership resouces, executive resources, leadership help, leadership journey, being a leader
image: "og/mm-og-1.jpg"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Guides</h1>
    <p></p>
  </div>
</section>

<hr />
<br/>
<br/>
<section class="two-col-equal essays">
  <div class="box-1">
    <h2 class="reversed"><%= link_to('Notes From the Emerging Future', "notes-emerging-future") %></h2>
    <p>An exercise for connecting to what you most long for, finding your unique path, and building the capacity to live into future of your dreams.</p>
  </div>

  <div class="box-2">
    <%#=link_to(image_tag("emerging-future.jpg"), "notes-emerging-future", :class => "no-border") %>
  </div>
</section>

<section class="two-col-equal essays">
  <div class="box-1">
    <h2 class="reversed"><%= link_to('At the End of a Cycle', "essays/end-of-a-cycle") %></h2>
    <p>The end of the year, the equinox, the solistice, the end of a quarter &mdash; these can all be an auspicious and meaningful times to pause, reflect, and celebrate. This guide can help, whenever you feel called to do so. </p>
  </div>

  <div class="box-2">
    <%#=link_to(image_tag("essays/moon-cycle.jpg"), "essays/end-of-a-cycle", :class => "no-border") %>
  </div>

</section>

<section class="two-col-equal essays">
  <div class="box-1">
    <h2 class="reversed"><%= link_to('Building a Relationship with Change', "essays/building-a-relationship-with-change") %></h2>
    <p>Developing a healthy relationship to change is essential, both personally and professionally, to stay connected to ourselves while adjusting creatively to changing conditions.</p>

  </div>

  <div class="box-2">
    <%#=link_to(image_tag("essays/change-border.jpg"), "essays/building-a-relationship-with-change", :class => "no-border") %>
  </div>

</section>

<hr />

<section class="hero">
  <div class="text">
    <h1>Talks</h1>
    <p></p>
  </div>
</section>

<hr />

<section class="two-col-equal videos">
  <div class="box-1">
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/243835373?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:110%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>

  <div class="box-2">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/yH6-iv0M8_M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</section>


<hr />

<section class="hero">
  <div class="text">
    <h1>Writing</h1>
    <p></p>
  </div>
</section>

<hr />

<section class="content training">
  <div class="col-1">
  </div>

  <div class="col-2">
    <% data.writing.articles.each do |a| %>
      <h3><%= link_to(a.title, a.link) %></h3>
      <p><%= a.description %></p>
    <% end %>
  </div>
</section>

<hr />

<section class="hero">
  <div class="text">
    <h1>Recommended Reading</h1>
    <p></p>
  </div>
</section>

<hr />

<section class="content">
  <div class="col-1">
    <h2></h2>
  </div>
  <div class="col-2">
    <p>A list of books for leaders and seekers. <em>Please note that the links below are affiliate links. Any proceeds generated will be donated to <%= link_to('The Association of Ramaytush Ohlone', 'https://www.ramaytush.org') %>.</em></p>
  </div>
</section>

<% data.books.recommended.each do |b| %>
<section class="content">
  <div class="col-1">
  </div>

  <div class="col-2">
    <div class="content>"
      <div class="col-1">
        <p class="cover"><%= image_tag b.image %></p>
      </div>

      <div class="col-2">
        <ul class="book-meta">
          <li class="title"><%= b.title %></li>
          <li class="author"><%= b.author %></li>
          <li class="why"><%= b.why %></li>
          <li class="link"><%= link_to('link', b.link) %></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<% end %>

<%#= partial "signup" %>
