---
title: Confirmed!
description: Thank you for signing up to Words Make Worlds! I'm so glad you are here!
image: "og/mm-og-1.jpg"
layout: content
---

<section class="content">
  <div class="col-1">
    <%= image_tag("wwm/wmw-circle-transparent.png", :class => "wmw-logo") %>
  </div>

  <div class="col-2">

      <h1>Welcome!</h1>
      <p>Thank you for signing up to <strong>Words Make Worlds</strong>! This newsletters is sent every other Sunday so keep your eyes open for the next issue. While you wait, brush up on the Coaching Leadership Style with the resources below.</p>

      <h3>Previous Issues:</h3>

      <p>
      <ul class="bullets">
      <% blog('words-make-worlds').articles.each do |article| %>
            <li>Issue <%= article.data.issue %>: <%= link_to article.data.title, article %></li>

      <% end %>
      </ul>
      </p>

      <%#= image_tag("confirmed.gif") %>

      <h3>Words Make Worlds on Medium:</h3>
      <p>
        <ul class="bullets">
          <li><%= link_to('The Coaching Leadership Style: Developing Self and Developing Others', 'https://medium.com/wordsmakeworlds/the-coaching-leadership-style-developing-self-and-developing-others-2f3fd665ba6d') %></li>
          <li><%= link_to('The Mindset, Qualities, and Posture of a Coach', 'https://medium.com/wordsmakeworlds/the-mindset-qualities-and-posture-of-a-coach-28ff82c21a21') %></li>
          <li><%= link_to('12 Essential Books for Leaders Who Coach', 'https://medium.com/wordsmakeworlds/12-essential-books-for-leaders-who-coach-a7620fce706a') %></li>
          <li><%= link_to('Creating Space for Others to Think', 'https://medium.com/wordsmakeworlds/creating-space-for-others-to-think-30a6e8b418e1') %></li>
        </ul>
      </p>

      <h3>Books and Articles:</h3>
      <p>
        <ul class="bullets">
          <li>An ever expanding list of supportive resources can be found in the Leader as Coach Library, both <%= link_to('books', 'https://airtable.com/appoaIkTducQK5fHH/shrRXr1zvaPl1XANL/tblfZ7HUjXLTJaXGI') %> and <%= link_to('articles', 'https://airtable.com/appoaIkTducQK5fHH/shrRKnQFXVG0LbbTJ/tblfZ7HUjXLTJaXGI?backgroundColor=red') %> .</li>
        </ul>
      </p>

      <h3>Videos:</h3>
        <ul class="bullets">
          <li>The newest addition and a bit of an experiment, <%= link_to('videos about the Coaching Leadership Style', 'https://www.youtube.com/channel/UC3_XX1HrF_6UTX5k7C3JjPQ') %>.</li>
        </ul>

  </div>
</section>
