---
title: Words Make Worlds
description: A publication about the art, science, and craft of the Coaching Leadership Style. Sent bi-weekly, Words Make Worlds delivers insight and practices to increase leadership impact.
keywords: leadership newsletter, management newsletter, self development newsletter, coaching leadership style, leader as coach
image: "og/og-words-make-worlds.png"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Words Make Worlds</h1> <p>The art, science, and craft of the Coaching Leadership Style.</p>

    <div class="mini"><%= partial "wmw_form" %></div>
  </div>
</section>

<section class="content">
  <div class="col-1">
    <h2>Additional Resources</h2>
    <ul>
      <li><%= link_to('Leader as Coach Library - Books', "https://airtable.com/appoaIkTducQK5fHH/shrRXr1zvaPl1XANL/tblfZ7HUjXLTJaXGI") %></li>
      <li><%= link_to('Leader as Coach Library - Articles', "https://airtable.com/appoaIkTducQK5fHH/shrRKnQFXVG0LbbTJ/tblfZ7HUjXLTJaXGI?backgroundColor=red") %></li>
    </ul>
  </div>

  <div class="col-2">

    <h2>The Coaching Leadership Style (CLS) is an orientation to leadership that is built on a solid foundation of coaching skills including optimism, self-efficacy, positive emotions, and learning. Leaders who adopt a CLS exponentially increase their ability to  support others to develop their potential and take action that creates results.</h2>

    <blockquote>
      <p>“A coach is someone who helps another person reach higher effectiveness by creating a dialogue that leads to awareness and action.” &ndash; Anne Loehr & Brian Emerson</p>
    </blockquote>

    <p>People who coach are driven by curiosity - about themselves, about others, and about the challenge or opportunity in front of them. It would not be wrong to say that coaching conversations are essentially learning conversations. When coaching skills are successfully integrated into a leadership practice, curiosity and learning become the default way of building relationships, making decisions, increasing awareness, and taking action.</p>

    <p>Curiosity and learning are also critical skills for uncertain times. With the increased complexity and pace of modern life we must always be updating our ideas and assumptions about how the world works. A CLS provides leaders with tools to develop themselves and others to be responsive, reflective, and choiceful in how they think and the actions they take.  </p>

    <p>When a leader utilizes a Coaching Leadership Style they facilitate a creative partnership with another person for the sake of learning and growth. The leader believes in the innate capacity of others to find creative solutions to the challenges they face and acts as a guide or facilitator of their learning process. Paradoxically, when a leader becomes proficient in their coachign capacity they can achieve more by doing less. Coaching increases capacity for building strong relationships, having direct conversations, dealing with uncertainty, delegating, and accountability.</p>

    <hr />

    <ul class="issue-list">
    <% blog('words-make-worlds').articles.each do |article| %>
      <li>
        <h3>Season <%= article.data.season %>, <%= article.data.seasonname %></h3>
          <h2>Issue <%= article.data.issue %>: <%= link_to article.data.title, article %></h2>
      </li>
      <%#= link_to image_tag(article.data.image), article %>
    <% end %>
    </ul>

</section>
