---
title: Words Make Worlds
description: A publication about the art, science, and craft of the Coaching Leadership Style. Sent bi-weekly, Words Make Worlds delivers insight and practices to increase leadership impact.
keywords: leadership newsletter, management newsletter, self development newsletter, coaching leadership style, leader as coach
image: "og/og-words-make-worlds.png"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Words Make Worlds</h1> <p>A newsletter for leaders trying to do good and not burn out, in a topsy turvy world.</p>

    <div class="mini"><%= partial "wmw_form" %></div>
  </div>
</section>

<section class="content">
  <div class="col-1">
  </div>

  <div class="col-2">

    <p>The systems we live in today feel shaky and uncertain on all levels—global, national, cultural, organizational, and personal. This shakiness impacts our bodies, minds, and emotions and shapes how we live and lead. The old idea that we could leave life “at the door” and show up at work focused purely on business no longer applies (if it ever did). Leaders cannot pretend things are otherwise without coming off as out of touch and unauthentic. </p>

    <p>At the same time, leaders are burned out from trying to navigate this complexity while caring for their teams and driving business results. It feels impossible to reclaim who you are, your energy, and your time while still showing up fully to lead. Traditional definitions of leadership are no longer suited to the world we face today. The leader with certainty and all the answers cannot be responsive to quickly changing circumstances. Today’s leaders require the ability to stay in the not-knowing and become catalysts for sensemaking, navigating change, facilitating awareness, and seeing possibilities.</p>

    <p>Words Make Worlds is a newsletter dedicated to exploring the emerging edges of leadership. From inner-work to organizational awareness and everything in-between, each issue takes on the theory and practice of the leadership necessary in this topsy turvy world.</p>

    <hr />

    <ul class="issue-list">
    <% blog('words-make-worlds').articles.each do |article| %>
      <li>
        <h3>Season <%= article.data.season %>, <%= article.data.seasonname %></h3>
          <h2>Issue <%= article.data.issue %>: <%= link_to article.data.title, article %></h2>
      </li>
      <%#= link_to image_tag(article.data.image), article %>
    <% end %>
    </ul>

</section>
