---
title: Words Make Worlds
description: A publication about the art, science, and craft of the Coaching Leadership Style
keywords: leadership newsletter, management newsletter, self development newsletter, coaching leadership style, leader as coach
image: "og/wmw/landing-og.png"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Words Make Worlds</h1> <p>The art, science, and craft of the Coaching Leadership Style.</p>

    <div class="mini"><script async data-uid="a0abf015cf" src="https://methodandmatter.ck.page/a0abf015cf/index.js"></script></div>
  </div>
</section>

<section class="content">
  <div class="col-1">
    <h2>Elsewhere</h2>
    <ul>
      <li><%= link_to('Words Make Worlds on Medium', "https://medium.com/wordsmakeworlds") %></li>
      <li><%= link_to('Leader as Coach Library - Books', "https://airtable.com/appoaIkTducQK5fHH/shrRXr1zvaPl1XANL/tblfZ7HUjXLTJaXGI") %></li>
      <li><%= link_to('Leader as Coach Library - Articles', "https://airtable.com/appoaIkTducQK5fHH/shrRKnQFXVG0LbbTJ/tblfZ7HUjXLTJaXGI?backgroundColor=red") %></li>
      <li><%= link_to('Podcast: Getting Started with the Coaching Leadership Style', "https://chicagocamps.org/2023/08/02/andrea-mignolo-getting-started-in-the-coaching-leadership-style/") %></li>
    </ul>
  </div>

  <div class="col-2">

    <h2>The Coaching Leadership Style (CLS) is an orientation to leadership that is built on a solid foundation of coaching skills including optimism, self-efficacy, positive emotions, and learning. Leaders who adopt the CLS exponentially increase their ability to  support others to develop their potential and take action that creates results.</h2>

    <blockquote><p>“A coach is someone who helps another person reach higher effectiveness by creating a dialogue that leads to awareness and action.” - Anne Loehr & Brian Emerson</p></blockquote>

    <p>People who coach are driven by curiosity - about themselves, about others, and about the challenge or opportunity in front of them. It would not be wrong to say that coaching conversations are essentially learning conversations. When coaching skills are successfully integrated into a leadership practice, curiosity and learning become the default way of building relationships, making decisions, increasing awareness, and taking action.</p>

    <p>Curiosity and learning are also critical skills for uncertain times. With the increased complexity and pace of modern life we must always be updating our ideas and assumptions about how the world works. CLS provides leaders with tools to develop themselves and others to be responsive, reflective, and choiceful in how they think and the actions they take.  </p>

    <p>When a leader utilizes the CLS, they invoke a creative partnership with another person for the sake of learning and growth. The leader believes in the innate capacity of others to find creative solutions to the challenges they face and acts as a guide or facilitator of their learning process. Paradoxically, when a leader becomes proficient with the CLS, they achieve more by doing less. The CLS brings increased capacity for building strong relationships, having direct conversations, dealing with uncertainty, delegating, and accountability. </p>

    <p>The CLS consists of two tracks - self development and the development of others. In order for a leader to be effective as a coach they must also engage in their own developmental work bringing self-awareness, reflection, and new actions to their own way of being in the world and relating with others. </p>

    <p>Words Make Worlds is a bi-weekly newsletter that explores these two tracks and is dedicated to helping leaders learn the art, science, and craft of the Coaching Leadership Style.</p>
</section>

<hr />

<section>
  <div class="three-col-grid">

  <% blog('words-make-worlds').articles.each do |article| %>
    <%= link_to image_tag(article.data.image), article %>
  <% end %>

  </div>
</section>
