---
title: Essays, Guides, and Other Writing
description: Essays, guides, and notes from the desk of Andrea Mignolo.
keywords: writing, essays, notes, research, leadership, purpose, life, soul
image: "og/og-base.png"
layout: content
---

<section class="hero">
  <div class="text">
    <h1>Guides</h1>
    <p></p>
  </div>
</section>

<hr />
<br/>
<br/>
<section class="two-col-equal essays">
  <div class="box-1">
    <h2 class="reversed"><%= link_to('Notes From the Emerging Future', "writing/guides/notes-emerging-future") %></h2>
    <p>An exercise for connecting to what you most long for, finding your unique path, and building the capacity to live into future of your dreams.</p>
  </div>

  <div class="box-2">
    <%#=link_to(image_tag("emerging-future.jpg"), "notes-emerging-future", :class => "no-border") %>
  </div>
</section>

<section class="two-col-equal essays">
  <div class="box-1">
    <h2 class="reversed"><%= link_to('At the End of a Cycle', "writing/guides/end-of-a-cycle") %></h2>
    <p>The end of the year, the equinox, the solistice, the end of a quarter&mdash;these can all be an auspicious and meaningful times to pause, reflect, and celebrate. This guide can help, whenever you feel called to do so. </p>
  </div>

  <div class="box-2">
    <%#=link_to(image_tag("essays/moon-cycle.jpg"), "essays/end-of-a-cycle", :class => "no-border") %>
  </div>

</section>

<section class="two-col-equal essays">
  <div class="box-1">
    <h2 class="reversed"><%= link_to('Building a Relationship with Change', "writing/guides/building-a-relationship-with-change") %></h2>
    <p>Developing a healthy relationship to change is essential, both personally and professionally, to stay connected to ourselves while adjusting creatively to changing conditions.</p>

  </div>

  <div class="box-2">
    <%#=link_to(image_tag("essays/change-border.jpg"), "essays/building-a-relationship-with-change", :class => "no-border") %>
  </div>

</section>

<hr />

<!-- <section class="hero">
  <div class="text">
    <h1>Talks</h1>
    <p></p>
  </div>
</section>

<hr />

<section class="two-col-equal videos">
  <div class="box-1">
    <div class="videoWrapper">
      <iframe src="https://player.vimeo.com/video/243835373?h=480d979041&color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="box-2">
    <div class="videoWrapper">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/yH6-iv0M8_M?si=bgV50tuf830jsmy1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</section>


<hr /> -->

<section class="hero">
  <div class="text">
    <h1>Essays</h1>
    <p></p>
  </div>
</section>

<hr />

<section class="content training">
  <div class="col-1">
    <div class="essay-filters">
      <h4>CATEGORIES</h4>
      <%
        essays = sitemap.resources.select { |r| r.path.start_with?('writing/essays/') }
        categories = essays.map { |e| e.data.category }.compact.uniq.sort
        category_counts = categories.map do |cat|
          [cat, essays.count { |e| e.data.category == cat }]
        end
      %>

      <ul>
        <li>
          <a href="#" class="filter-link active" data-category="all">
            All Essays (<%= essays.length %>)
          </a>
        </li>

        <% category_counts.each do |category, count| %>
          <li>
            <a href="#" class="filter-link" data-category="<%= category.downcase.gsub(/\s+/, '-') %>">
              <%= category %> (<%= count %>)
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-2">
    <div class="essays-list">
      <% sitemap.resources.select { |r| r.path.start_with?('writing/essays/') }
      .sort_by { |r| Date.parse(r.data.date) rescue Date.new(1970,1,1) }
      .reverse
      .each do |post| %>
        <div class="essay-item" data-category="<%= post.data.category.downcase.gsub(/\s+/, '-') if post.data.category %>">
          <% if post.data.category %>
            <span class="category-label"><%= post.data.category.upcase %></span>
          <% end %>
          <h3><%= link_to post.data.title, post.url %></h3>
          <p><%= post.data.subtitle %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>
